**[ Í∞úÏöî ]**

- Î≥∏ Í≥ºÏ†ïÏùÄ 'Í∏∞ÏÉÅÏ≤≠ÌóàÎ∏å-Í≥ÑÏ†àÍ¥ÄÏ∏°' Îç∞Ïù¥ÌÑ∞Î•º ÌÉêÏÉâ Î∞è Ï†ïÏ†úÌïòÏó¨, Í¥ÄÏ∏°ÏßÄÏ†ê Î∞è Ïó∞ÎèÑÎ•º Í∏∞Ï§ÄÏúºÎ°ú Í∞Å ÏÇ¨Í≥ÑÏ†àÏùò Í≥ÑÏ†àÎ≥Ñ ÏùºÏàò/ÎπÑÏú® Î≥ÄÌôî Ï∂îÏù¥Î•º ÏÇ¥Ìé¥Î≥º Ïàò ÏûàÎäî ÎåÄÏãúÎ≥¥ÎìúÏö© Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±Ïóê Î™©Ï†ÅÏùÑ Îëî Ï†ÑÏ≤òÎ¶¨ Í≥ºÏ†ïÏûÖÎãàÎã§.
- '1ÎÖÑ' Îã®ÏúÑÎäî ÌÉúÏñëÎ†•Ïù¥ ÏïÑÎãå 'Í≤®Ïö∏ + Î¥Ñ + Ïó¨Î¶Ñ + Í∞ÄÏùÑ' 4Í≥ÑÏ†àÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ìï©ÎãàÎã§. 
- Í∞Å Í≥ÑÏ†àÏóê ÎåÄÏùëÎêòÎäî ÎåÄÌëú Ïõî(Êúà)Ïö¥ ÏïÑÎûòÏôÄ Í∞ôÏù¥ Í∑úÏ†ïÌï©ÎãàÎã§.
    - Í≤®Ïö∏ : Ï†ÑÎÖÑÎèÑ 12Ïõî, 1Ïõî, 2Ïõî
    - Î¥Ñ : 3Ïõî, 4Ïõî, 5Ïõî
    - Ïó¨Î¶Ñ : 6Ïõî, 7Ïõî, 8Ïõî
    - Í∞ÄÏùÑ : 9Ïõî, 10Ïõî. 11Ïõî

## 1. Îç∞Ïù¥ÌÑ∞Î°úÎìú Î∞è ÌôïÏù∏

### 1-1) Îç∞Ïù¥ÌÑ∞ Î°úÎìú

In [ ]:
import pandas as pd

# Ï£ºÌîºÌÑ∞ÎÖ∏Ìä∏Î∂ÅÏóêÏÑú Ï∂úÎ†• Í∞ÄÎä•Ìïú ÏµúÎåÄ Î†àÏΩîÎìú Ïàò Ï°∞Ï†ï
pd.set_option('display.max_rows', 100)

In [2]:
def load_kma_data(filepath):
    """KMA Í≥ÑÏ†à Îç∞Ïù¥ÌÑ∞Î•º Î°úÎìúÌïòÍ≥† Í≤ÄÏ¶ù"""
    
    with open(filepath, 'r', encoding='utf-8') as file:
        lines = file.readlines()
    
    # 1. Ìó§Îçî Ï∞æÍ∏∞
    data_start = None
    columns = None
    
    for idx, line in enumerate(lines):
        if line.strip().startswith('#') and 'YY' in line and 'STN' in line:
            columns = line.strip().lstrip('#').split()
            data_start = idx + 1
            break
    
    if data_start is None:
        raise ValueError("Îç∞Ïù¥ÌÑ∞ Ìó§ÎçîÎ•º Ï∞æÏùÑ Ïàò ÏóÜÏäµÎãàÎã§.")
    
    # 2. Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú 
    data_lines = []
    skipped_lines = []
    
    for idx, line in enumerate(lines[data_start:], start=data_start):
        stripped = line.strip()
        # Îπà Ï§ÑÏù¥ÎÇò Ï£ºÏÑù Ï†úÏô∏
        if not stripped or stripped.startswith('#'):
            continue
        
        clean_parts = stripped.replace(',', '').split()
        # Ïª¨Îüº ÏàòÏôÄ ÏùºÏπòÌïòÎäîÏßÄ ÌôïÏù∏
        if len(clean_parts) == len(columns):
            data_lines.append(clean_parts)
        else:
            # Í±¥ÎÑàÎõ¥ Ìñâ Í∏∞Î°ù: (Ïã§Ï†ú Ï§Ñ Î≤àÌò∏, ÏõêÎ≥∏ Î¨∏ÏûêÏó¥, Î∂ÑÎ¶¨Îêú ÌïÑÎìú Í∞úÏàò)
            skipped_lines.append((idx + 1, line.strip(), len(clean_parts)))
            print(f"üö® SKIP LINE {idx + 1} | Expected {columns_len}, Found {len(clean_parts)} | Data: {line.strip()[:60]}...")
    
    # 3. DataFrame ÏÉùÏÑ±
    df = pd.DataFrame(data_lines, columns=columns)

    df['YY'] = df['YY'].astype(int)
    df['STN'] = df['STN'].astype(int)
    df['SSN_ID'] = df['SSN_ID'].astype(int)
    df['SSN_MD'] = df['SSN_MD'].astype(int)
    df['TM'] = pd.to_datetime(df['TM'], errors='coerce')

    return df

In [3]:
file_path = 'KMA_seasonal_data_19741101_20251028.txt'
df = load_kma_data(file_path)

df

          YY  STN         TM  SSN_ID  SSN_MD
0       1974   90 1974-11-03     401     401
1       1974   90 1975-03-21     401     402
2       1974   90 1975-03-31     402     402
3       1974   90 1974-12-03     403     401
4       1974   90 1975-03-23     403     402
...      ...  ...        ...     ...     ...
111692  2025  247 2025-04-25     503     501
111693  2025  247 2025-05-02     503     504
111694  2025  272 2025-10-20     501     501
111695  2025  279 2025-10-27     501     501
111696  2025  285 2025-10-23     501     501

[111697 rows x 5 columns]

### 1-2) ÏõêÏãúÎç∞Ïù¥ÌÑ∞ Í∏∞Î≥∏ Í≤ÄÌÜ†

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111697 entries, 0 to 111696
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   YY      111697 non-null  int64
 1   STN     111697 non-null  int64
 2   TM      111697 non-null  datetime64[ns]
 3   SSN_ID  111697 non-null  int64
 4   SSN_MD  111697 non-null  int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 4.3 MB

In [5]:
df.isnull().sum()

YY        0
STN       0
TM        0
SSN_ID    0
SSN_MD    0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(0)

### 1-3) Í¥ÄÏ∏°ÏßÄÏ†ê & Ïó∞ÎèÑÎ≥Ñ Î†àÏΩîÎìú Ïàò ÌôïÏù∏

In [7]:
df_pivot = df.pivot_table(
    index='STN',
    columns='YY',
    aggfunc='size',
    fill_value=0
)

df_pivot

YY,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
STN,,,,,,,,,,,,,,,,,,,,,
52,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
90,5,37,37,44,44,44,44,44,44,44,...,2,2,2,2,2,2,2,2,2,2
93,0,0,0,0,0,0,0,0,0,0,...,14,45,44,43,45,45,45,45,45,35
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100,3,17,15,17,18,23,20,20,17,14,...,2,2,2,2,2,2,2,2,2,2
101,6,38,31,23,34,39,39,37,38,29,...,29,0,0,0,0,0,0,0,0,0
102,0,0,0,0,0,0,0,0,0,0,...,34,36,37,38,39,40,37,38,38,26
104,0,0,0,0,0,0,0,0,0,0,...,45,43,43,38,44,44,44,45,45,35
105,8,42,42,42,42,42,42,40,42,40,...,0,0,0,0,0,0,0,0,0,0
106,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
108,6,32,35,37,31,41,41,36,32,31,...,45,44,44,42,45,41,44,44,42,32
112,5,35,27,42,38,41,32,32,26,31,...,40,40,39,39,40,40,40,40,40,31
114,4,17,14,32,28,32,32,34,30,27,...,2,2,2,2,2,2,2,2,2,1
115,6,34,34,36,35,38,38,29,27,24,...,38,41,38,40,38,40,41,41,39,26
119,4,32,30,28,29,34,29,29,26,24,...,42,43,41,41,43,43,43,43,43,34
121,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
127,5,13,17,17,19,23,26,30,28,31,...,2,2,2,2,2,2,2,2,2,1
129,5,38,39,40,40,37,38,39,41,35,...,40,33,0,0,0,0,0,0,0,0
130,6,31,31,31,31,32,32,31,30,30,...,0,0,0,0,0,0,0,0,0,0
131,4,36,36,36,34,36,35,35,37,35,...,41,42,39,39,40,38,40,39,39,29
133,4,24,32,31,32,32,34,32,33,30,...,45,45,43,43,43,43,43,44,44,30
135,6,37,37,38,39,40,38,40,39,35,...,0,0,0,0,0,0,0,0,0,0
136,4,34,31,34,18,0,0,8,8,36,...,45,45,46,42,45,46,48,46,46,36
137,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
138,8,27,31,32,32,34,36,33,25,25,...,45,40,41,39,45,43,45,46,45,28
140,6,34,25,24,30,29,26,25,21,25,...,0,0,0,0,0,0,0,0,0,0
143,7,34,31,35,35,34,36,33,33,32,...,44,44,43,41,44,44,43,44,44,29
146,5,34,29,31,37,36,35,34,33,14,...,45,45,46,44,45,45,46,44,46,30
152,6,34,36,35,35,35,34,34,29,18,...,39,40,41,39,41,40,41,41,42,26
155,0,0,0,0,0,0,0,0,0,0,...,41,42,40,40,43,41,43,43,43,31
156,7,40,40,34,33,37,40,40,39,31,...,43,44,44,44,43,42,42,42,44,29
159,6,32,25,30,30,37,37,32,22,32,...,40,42,40,41,44,38,43,40,38,30
162,6,33,34,31,31,31,34,22,18,22,...,0,0,0,0,0,0,0,0,0,0
164,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
165,6,36,34,34,33,31,28,27,36,23,...,41,41,42,41,43,41,40,41,42,29
168,6,35,35,32,35,36,34,34,32,31,...,40,39,39,39,39,39,40,37,39,29
169,0,0,0,0,0,0,0,0,0,0,...,35,37,37,37,38,38,39,40,38,29
170,6,19,21,20,23,30,39,38,37,37,...,0,0,0,0,0,0,0,0,0,0
172,0,0,0,0,0,0,0,0,0,0,...,2,2,2,1,2,2,2,2,2,2
174,0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,1
175,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
176,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177,0,0,0,0,0,0,0,0,0,0,...,0,4,39,40,38,38,38,38,38,25
184,8,33,33,31,32,34,32,33,29,28,...,37,34,39,34,39,42,41,40,42,30
185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
187,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
188,6,18,21,21,22,17,17,19,15,17,...,0,0,0,0,0,0,0,0,0,0
189,8,37,35,35,36,36,37,33,34,30,...,2,2,5,26,29,31,36,34,29,26
192,8,31,30,34,35,36,31,29,21,29,...,2,2,2,2,2,2,2,2,2,2
201,4,6,33,35,35,35,35,35,35,34,...,0,0,0,0,0,0,0,0,0,0
202,4,19,30,30,30,37,36,37,37,39,...,0,0,0,0,0,0,0,0,0,0
203,4,22,31,30,36,36,36,36,36,36,...,0,0,0,0,0,0,0,0,0,0
211,4,10,12,17,27,28,28,22,18,17,...,0,0,0,0,0,0,0,0,0,0
212,4,40,40,40,40,40,40,39,40,40,...,0,0,0,0,0,0,0,0,0,0
214,6,36,36,36,36,37,36,36,37,31,...,0,0,0,0,0,0,0,0,0,0
216,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
221,4,15,26,27,24,31,28,29,25,20,...,0,0,0,0,0,0,0,0,0,0
226,4,19,30,33,30,30,30,26,29,29,...,2,2,2,2,2,2,2,2,2,1
232,4,22,24,22,23,23,21,22,23,23,...,0,0,0,0,0,0,0,0,0,0
235,4,26,24,23,23,24,24,28,33,26,...,0,0,0,0,0,0,0,0,0,0
236,4,6,27,31,32,37,35,33,35,33,...,0,0,0,0,0,0,0,0,0,0
238,4,6,18,28,32,32,33,32,36,29,...,0,0,0,0,0,0,0,0,0,0
243,5,38,37,38,38,37,38,34,16,12,...,0,0,0,0,0,0,0,0,0,0
244,4,35,36,36,36,36,36,36,35,34,...,0,0,0,0,0,0,0,0,0,0
245,5,28,28,27,32,36,34,35,35,33,...,2,2,2,2,2,2,2,2,2,0
247,4,35,33,28,32,34,34,28,17,9,...,3,4,4,4,4,4,4,4,4,2
248,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
251,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
256,6,32,32,33,33,33,33,33,33,32,...,0,0,0,0,0,0,0,0,0,0
260,6,38,38,38,38,38,38,38,40,40,...,0,0,0,0,0,0,0,0,0,0
261,5,22,31,32,35,40,37,38,38,40,...,2,2,2,2,2,2,2,2,2,0
262,5,33,35,35,35,37,38,37,37,36,...,0,0,0,0,0,0,0,0,0,0
265,6,18,21,21,22,17,17,19,15,17,...,0,0,0,0,0,0,0,0,0,0
270,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
271,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
272,4,24,25,34,38,36,36,35,34,41,...,2,2,2,2,2,2,2,2,2,1
273,4,24,21,24,24,28,26,24,25,26,...,0,0,0,0,0,0,0,0,0,0
277,6,26,26,32,30,33,33,32,33,32,...,0,0,0,0,0,0,0,0,0,0
278,7,35,34,25,25,39,36,32,31,36,...,0,0,0,0,0,0,0,0,0,0
279,4,29,30,34,39,39,39,39,39,40,...,2,2,2,2,2,2,2,2,2,1
281,5,36,35,37,37,36,36,34,36,38,...,0,0,0,0,0,0,0,0,0,0
284,4,28,30,30,31,32,32,30,21,21,...,1,1,1,0,0,0,0,0,0,0
285,4,28,28,36,37,38,36,36,32,27,...,2,2,2,2,2,2,2,2,2,1
288,5,27,27,29,31,32,32,32,32,36,...,0,0,0,0,0,0,0,0,0,0
289,4,22,29,32,28,33,33,38,36,36,...,0,0,0,0,0,0,0,0,0,0
294,6,28,30,29,27,28,35,34,30,29,...,0,0,0,0,0,0,0,0,0,0
295,6,34,30,33,31,33,37,36,25,25,...,0,0,0,0,0,0,0,0,0,0

## 2. Ï∂îÍ∞ÄÏ†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞ Í≤∞Ìï©

### 2-1) Í≥ÑÏ†àÍ¥ÄÏ∏°(SSN_ID)

In [8]:
data_id = {
    'SSN_ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 201, 202, 203, 204, 205, 206, 207, 208, 301, 302, 401, 402, 403, 404, 405, 501, 502, 503],
    'ID_Name': ['Ï†úÎπÑ', 'Î±Ä', 'Í∞úÍµ¨Î¶¨', 'ÎÇòÎπÑ', 'Ïû†ÏûêÎ¶¨', 'Ï¢ÖÎã§Î¶¨', 'ÎªêÍæ∏Í∏∞', 'Îß§ÎØ∏', 'Í∏∞Îü¨Í∏∞', 'ÏΩîÏä§Î™®Ïä§', 'Îß§Ìôî', 'Í∞úÎÇòÎ¶¨', 'ÏßÑÎã¨Îûò', 'Î≤öÎÇòÎ¨¥', 'ÏïÑÍπåÏãúÎÇòÎ¨¥', 'Î≥µÏà≠ÏïÑ', 'Î∞∞ÎÇòÎ¨¥', 'ÏùÄÌñâÎÇòÎ¨¥', 'Îã®ÌíçÎÇòÎ¨¥', 'ÏÑúÎ¶¨', 'ÏñºÏùå', 'Îàà', 'Í¥ÄÏÑ§', 'Í∞ïÌïòÏ†Ñ', 'Ïú†Î™ÖÏÇ∞ Îã®Ìíç', 'Ìï¥ÏàòÏöïÏû•', 'Íµ∞ÎùΩÎã®ÏßÄ'],
    'ID_Class': ['ÎèôÎ¨º', 'ÎèôÎ¨º', 'ÎèôÎ¨º', 'ÎèôÎ¨º', 'ÎèôÎ¨º', 'ÎèôÎ¨º', 'ÎèôÎ¨º', 'ÎèôÎ¨º', 'ÎèôÎ¨º', 'ÏãùÎ¨º(ÍΩÉ)', 'ÏãùÎ¨º(ÍΩÉ)', 'ÏãùÎ¨º(ÍΩÉ)', 'ÏãùÎ¨º(ÍΩÉ)', 'ÏãùÎ¨º(ÍΩÉ)', 'ÏãùÎ¨º(ÍΩÉ)', 'ÏãùÎ¨º(ÍΩÉ)', 'ÏãùÎ¨º(ÍΩÉ)', 'ÏãùÎ¨º(Îã®Ìíç)', 'ÏãùÎ¨º(Îã®Ìíç)', 'Í∏∞ÌõÑ', 'Í∏∞ÌõÑ', 'Í∏∞ÌõÑ', 'Í∏∞ÌõÑ', 'Í∏∞ÌõÑ', 'ÏãùÎ¨º', 'ÏÉùÌôú', 'ÏãùÎ¨º']
}
df_id_map = pd.DataFrame(data_id)
df_id_map

    SSN_ID ID_Name ID_Class
0      101      Ï†úÎπÑ       ÎèôÎ¨º
1      102       Î±Ä       ÎèôÎ¨º
2      103     Í∞úÍµ¨Î¶¨       ÎèôÎ¨º
3      104      ÎÇòÎπÑ       ÎèôÎ¨º
4      105     Ïû†ÏûêÎ¶¨       ÎèôÎ¨º
5      106     Ï¢ÖÎã§Î¶¨       ÎèôÎ¨º
6      107     ÎªêÍæ∏Í∏∞       ÎèôÎ¨º
7      108      Îß§ÎØ∏       ÎèôÎ¨º
8      109     Í∏∞Îü¨Í∏∞       ÎèôÎ¨º
9      201    ÏΩîÏä§Î™®Ïä§    ÏãùÎ¨º(ÍΩÉ)
10     202      Îß§Ìôî    ÏãùÎ¨º(ÍΩÉ)
11     203     Í∞úÎÇòÎ¶¨    ÏãùÎ¨º(ÍΩÉ)
12     204     ÏßÑÎã¨Îûò    ÏãùÎ¨º(ÍΩÉ)
13     205     Î≤öÎÇòÎ¨¥    ÏãùÎ¨º(ÍΩÉ)
14     206   ÏïÑÍπåÏãúÎÇòÎ¨¥    ÏãùÎ¨º(ÍΩÉ)
15     207     Î≥µÏà≠ÏïÑ    ÏãùÎ¨º(ÍΩÉ)
16     208     Î∞∞ÎÇòÎ¨¥    ÏãùÎ¨º(ÍΩÉ)
17     301    ÏùÄÌñâÎÇòÎ¨¥   ÏãùÎ¨º(Îã®Ìíç)
18     302    Îã®ÌíçÎÇòÎ¨¥   ÏãùÎ¨º(Îã®Ìíç)
19     401      ÏÑúÎ¶¨       Í∏∞ÌõÑ
20     402      ÏñºÏùå       Í∏∞ÌõÑ
21     403       Îàà       Í∏∞ÌõÑ
22     404      Í¥ÄÏÑ§       Í∏∞ÌõÑ
23     405     Í∞ïÌïòÏ†Ñ       Í∏∞ÌõÑ
24     501  Ïú†Î™ÖÏÇ∞ Îã®Ìíç       ÏãùÎ¨º
25     502    Ìï¥ÏàòÏöïÏû•       ÏÉùÌôú
26     503    Íµ∞ÎùΩÎã®ÏßÄ       ÏãùÎ¨º

In [9]:
merged_ssn_id = pd.merge(
    df, 
    df_id_map, 
    on='SSN_ID', 
    how='left'
)
merged_ssn_id.head(3)

     YY  STN         TM  SSN_ID  SSN_MD ID_Name ID_Class
0  1974   90 1974-11-03     401     401      ÏÑúÎ¶¨       Í∏∞ÌõÑ
1  1974   90 1975-03-21     401     402      ÏÑúÎ¶¨       Í∏∞ÌõÑ
2  1974   90 1975-03-31     402     402      ÏñºÏùå       Í∏∞ÌõÑ

### 2-2) Í≥ÑÏ†àÌòÑÏÉÅ(SSN_MD)

In [10]:
data_md = {
    'SSN_MD': [101, 102, 103, 104, 201, 202, 203, 301, 302, 303, 304, 305, 401, 402, 501, 502, 503],
    'MD_Name': ['Ï¥àÍ≤¨', 'Ï§ëÍ≤¨', 'Ï¥àÏÑ±', 'Ï¢ÖÏÑ±', 'Î∞úÏïÑ', 'ÍΩÉ Ìïå(Í∞úÌôî)', 'ÌôúÏßù Ìïå(ÎßåÎ∞ú)', 'Îã®Ìíç ÏãúÏûë', 'Îã®Ìíç Ï†àÏ†ï', 'Îã®Ìíç ÎÅù', 'ÎÇôÏóΩ ÏãúÏûë', 'ÎÇôÏóΩ ÎÅù', 'Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)', 'ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)', 'ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•)', 'ÎÅù(Ìï¥ÏàòÏöïÏû• ÌèêÏû•)', 'Ï†àÏ†ï'],
    'MD_Class': ['ÎèôÎ¨º', 'ÎèôÎ¨º', 'ÎèôÎ¨º', 'ÎèôÎ¨º', 'ÏãùÎ¨º(ÍΩÉ)', 'ÏãùÎ¨º(ÍΩÉ)', 'ÏãùÎ¨º(ÍΩÉ)', 'ÏãùÎ¨º(Îã®Ìíç)', 'ÏãùÎ¨º(Îã®Ìíç)', 'ÏãùÎ¨º(Îã®Ìíç)', 'ÏãùÎ¨º(Îã®Ìíç)', 'ÏãùÎ¨º(Îã®Ìíç)', 'Í∏∞ÌõÑ', 'Í∏∞ÌõÑ', 'ÏÉùÌôú', 'ÏÉùÌôú', 'ÏãùÎ¨º']
}
df_md_map = pd.DataFrame(data_md)
df_md_map

    SSN_MD       MD_Name MD_Class
0      101            Ï¥àÍ≤¨       ÎèôÎ¨º
1      102            Ï§ëÍ≤¨       ÎèôÎ¨º
2      103            Ï¥àÏÑ±       ÎèôÎ¨º
3      104            Ï¢ÖÏÑ±       ÎèôÎ¨º
4      201            Î∞úÏïÑ    ÏãùÎ¨º(ÍΩÉ)
5      202       ÍΩÉ Ìïå(Í∞úÌôî)    ÏãùÎ¨º(ÍΩÉ)
6      203      ÌôúÏßù Ìïå(ÎßåÎ∞ú)    ÏãùÎ¨º(ÍΩÉ)
7      301         Îã®Ìíç ÏãúÏûë   ÏãùÎ¨º(Îã®Ìíç)
8      302         Îã®Ìíç Ï†àÏ†ï   ÏãùÎ¨º(Îã®Ìíç)
9      303          Îã®Ìíç ÎÅù   ÏãùÎ¨º(Îã®Ìíç)
10     304         ÎÇôÏóΩ ÏãúÏûë   ÏãùÎ¨º(Îã®Ìíç)
11     305          ÎÇôÏóΩ ÎÅù   ÏãùÎ¨º(Îã®Ìíç)
12     401    Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)       Í∏∞ÌõÑ
13     402  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)       Í∏∞ÌõÑ
14     501   ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•)       ÏÉùÌôú
15     502    ÎÅù(Ìï¥ÏàòÏöïÏû• ÌèêÏû•)       ÏÉùÌôú
16     503            Ï†àÏ†ï       ÏãùÎ¨º

In [11]:
merged_ssn_nd = pd.merge(
    merged_ssn_id, 
    df_md_map, 
    on='SSN_MD', 
    how='left',
    suffixes=('_ID', '_MD')
)

merged_ssn_nd.head(3)

,YY,STN,TM,SSN_ID,SSN_MD,ID_Name,ID_Class,MD_Name,MD_Class
0,1974,90,1974-11-03,401,401,ÏÑúÎ¶¨,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ
1,1974,90,1975-03-21,401,402,ÏÑúÎ¶¨,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ
2,1974,90,1975-03-31,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ

### 2-3) ÏßÄÏÉÅÍ¥ÄÏ∏°ÏßÄÏ†ê(STN)

In [12]:
import io
data_string = """STN,STN_ko
90,ÏÜçÏ¥à
93,Î∂ÅÏ∂òÏ≤ú
95,Ï≤†Ïõê
98,ÎèôÎëêÏ≤ú
99,ÌååÏ£º
100,ÎåÄÍ¥ÄÎ†π
101,Ï∂òÏ≤ú
102,Î∞±Î†πÎèÑ
104,Î∂ÅÍ∞ïÎ¶â
105,Í∞ïÎ¶â
106,ÎèôÌï¥
108,ÏÑúÏö∏
112,Ïù∏Ï≤ú
114,ÏõêÏ£º
115,Ïö∏Î¶âÎèÑ
119,ÏàòÏõê
121,ÏòÅÏõî
127,Ï∂©Ï£º
129,ÏÑúÏÇ∞
130,Ïö∏ÏßÑ
131,Ï≤≠Ï£º
133,ÎåÄÏ†Ñ
135,Ï∂îÌíçÎ†π
136,ÏïàÎèô
137,ÏÉÅÏ£º
138,Ìè¨Ìï≠
140,Íµ∞ÏÇ∞
143,ÎåÄÍµ¨
146,Ï†ÑÏ£º
152,Ïö∏ÏÇ∞
155,Ï∞ΩÏõê
156,Í¥ëÏ£º
159,Î∂ÄÏÇ∞
162,ÌÜµÏòÅ
165,Î™©Ìè¨
168,Ïó¨Ïàò
169,ÌùëÏÇ∞ÎèÑ
170,ÏôÑÎèÑ
172,Í≥†Ï∞Ω
174,ÏàúÏ≤ú
177,ÌôçÏÑ±
181,ÏÑúÏ≤≠Ï£º
184,Ï†úÏ£º
185,Í≥†ÏÇ∞
188,ÏÑ±ÏÇ∞
189,ÏÑúÍ∑ÄÌè¨
192,ÏßÑÏ£º
201,Í∞ïÌôî
202,ÏñëÌèâ
203,Ïù¥Ï≤ú
211,Ïù∏Ï†ú
212,ÌôçÏ≤ú
216,ÌÉúÎ∞±
217,Ï†ïÏÑ†Íµ∞
221,Ï†úÏ≤ú
226,Î≥¥ÏùÄ
232,Ï≤úÏïà
235,Î≥¥Î†π
236,Î∂ÄÏó¨
238,Í∏àÏÇ∞
239,ÏÑ∏Ï¢Ö
243,Î∂ÄÏïà
244,ÏûÑÏã§
245,Ï†ïÏùç
247,ÎÇ®Ïõê
248,Ïû•Ïàò
251,Í≥†Ï∞ΩÍµ∞
252,ÏòÅÍ¥ëÍµ∞
253,ÍπÄÌï¥Ïãú
254,ÏàúÏ∞ΩÍµ∞
255,Î∂ÅÏ∞ΩÏõê
257,ÏñëÏÇ∞Ïãú
258,Î≥¥ÏÑ±Íµ∞
259,Í∞ïÏßÑÍµ∞
260,Ïû•Ìù•
261,Ìï¥ÎÇ®
262,Í≥†Ìù•
263,ÏùòÎ†πÍµ∞
264,Ìï®ÏñëÍµ∞
266,Í¥ëÏñëÏãú
268,ÏßÑÎèÑÍµ∞
271,Î¥âÌôî
272,ÏòÅÏ£º
273,Î¨∏Í≤Ω
276,Ï≤≠ÏÜ°Íµ∞
277,ÏòÅÎçï
278,ÏùòÏÑ±
279,Íµ¨ÎØ∏
281,ÏòÅÏ≤ú
283,Í≤ΩÏ£ºÏãú
284,Í±∞Ï∞Ω
285,Ìï©Ï≤ú
288,Î∞ÄÏñë
289,ÏÇ∞Ï≤≠
294,Í±∞Ï†ú
295,ÎÇ®Ìï¥
296,Î∂ÅÎ∂ÄÏÇ∞
"""

df_stn_map = pd.read_csv(io.StringIO(data_string))

In [13]:
df_stn_map

    STN STN_ko
0    90     ÏÜçÏ¥à
1    93    Î∂ÅÏ∂òÏ≤ú
2    95     Ï≤†Ïõê
3    98    ÎèôÎëêÏ≤ú
4    99     ÌååÏ£º
5   100    ÎåÄÍ¥ÄÎ†π
6   101     Ï∂òÏ≤ú
7   102    Î∞±Î†πÎèÑ
8   104    Î∂ÅÍ∞ïÎ¶â
9   105     Í∞ïÎ¶â
10  106     ÎèôÌï¥
11  108     ÏÑúÏö∏
12  112     Ïù∏Ï≤ú
13  114     ÏõêÏ£º
14  115    Ïö∏Î¶âÎèÑ
15  119     ÏàòÏõê
16  121     ÏòÅÏõî
17  127     Ï∂©Ï£º
18  129     ÏÑúÏÇ∞
19  130     Ïö∏ÏßÑ
20  131     Ï≤≠Ï£º
21  133     ÎåÄÏ†Ñ
22  135    Ï∂îÌíçÎ†π
23  136     ÏïàÎèô
24  137     ÏÉÅÏ£º
25  138     Ìè¨Ìï≠
26  140     Íµ∞ÏÇ∞
27  143     ÎåÄÍµ¨
28  146     Ï†ÑÏ£º
29  152     Ïö∏ÏÇ∞
30  155     Ï∞ΩÏõê
31  156     Í¥ëÏ£º
32  159     Î∂ÄÏÇ∞
33  162     ÌÜµÏòÅ
34  165     Î™©Ìè¨
35  168     Ïó¨Ïàò
36  169    ÌùëÏÇ∞ÎèÑ
37  170     ÏôÑÎèÑ
38  172     Í≥†Ï∞Ω
39  174     ÏàúÏ≤ú
40  177     ÌôçÏÑ±
41  181    ÏÑúÏ≤≠Ï£º
42  184     Ï†úÏ£º
43  185     Í≥†ÏÇ∞
44  188     ÏÑ±ÏÇ∞
45  189    ÏÑúÍ∑ÄÌè¨
46  192     ÏßÑÏ£º
47  201     Í∞ïÌôî
48  202     ÏñëÌèâ
49  203     Ïù¥Ï≤ú
50  211     Ïù∏Ï†ú
51  212     ÌôçÏ≤ú
52  216     ÌÉúÎ∞±
53  217    Ï†ïÏÑ†Íµ∞
54  221     Ï†úÏ≤ú
55  226     Î≥¥ÏùÄ
56  232     Ï≤úÏïà
57  235     Î≥¥Î†π
58  236     Î∂ÄÏó¨
59  238     Í∏àÏÇ∞
60  239     ÏÑ∏Ï¢Ö
61  243     Î∂ÄÏïà
62  244     ÏûÑÏã§
63  245     Ï†ïÏùç
64  247     ÎÇ®Ïõê
65  248     Ïû•Ïàò
66  251    Í≥†Ï∞ΩÍµ∞
67  252    ÏòÅÍ¥ëÍµ∞
68  253    ÍπÄÌï¥Ïãú
69  254    ÏàúÏ∞ΩÍµ∞
70  255    Î∂ÅÏ∞ΩÏõê
71  257    ÏñëÏÇ∞Ïãú
72  258    Î≥¥ÏÑ±Íµ∞
73  259    Í∞ïÏßÑÍµ∞
74  260     Ïû•Ìù•
75  261     Ìï¥ÎÇ®
76  262     Í≥†Ìù•
77  263    ÏùòÎ†πÍµ∞
78  264    Ìï®ÏñëÍµ∞
79  266    Í¥ëÏñëÏãú
80  268    ÏßÑÎèÑÍµ∞
81  271     Î¥âÌôî
82  272     ÏòÅÏ£º
83  273     Î¨∏Í≤Ω
84  276    Ï≤≠ÏÜ°Íµ∞
85  277     ÏòÅÎçï
86  278     ÏùòÏÑ±
87  279     Íµ¨ÎØ∏
88  281     ÏòÅÏ≤ú
89  283    Í≤ΩÏ£ºÏãú
90  284     Í±∞Ï∞Ω
91  285     Ìï©Ï≤ú
92  288     Î∞ÄÏñë
93  289     ÏÇ∞Ï≤≠
94  294     Í±∞Ï†ú
95  295     ÎÇ®Ìï¥
96  296    Î∂ÅÎ∂ÄÏÇ∞

In [14]:
merged_df = pd.merge(
    merged_ssn_nd, 
    df_stn_map, 
    on='STN', 
    how='left',
    suffixes=('_ID', '_MD')
)

merged_df

,YY,STN,TM,SSN_ID,SSN_MD,ID_Name,ID_Class,MD_Name,MD_Class,STN_ko
0,1974,90,1974-11-03,401,401,ÏÑúÎ¶¨,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à
1,1974,90,1975-03-21,401,402,ÏÑúÎ¶¨,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à
2,1974,90,1975-03-31,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à
3,1974,90,1974-12-03,403,401,Îàà,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à
4,1974,90,1975-03-23,403,402,Îàà,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à
...,...,...,...,...,...,...,...,...,...,...
111692,2025,247,2025-04-25,503,501,Íµ∞ÎùΩÎã®ÏßÄ,ÏãùÎ¨º,ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•),ÏÉùÌôú,ÎÇ®Ïõê
111693,2025,247,2025-05-02,503,504,Íµ∞ÎùΩÎã®ÏßÄ,ÏãùÎ¨º,NaN,NaN,ÎÇ®Ïõê
111694,2025,272,2025-10-20,501,501,Ïú†Î™ÖÏÇ∞ Îã®Ìíç,ÏãùÎ¨º,ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•),ÏÉùÌôú,ÏòÅÏ£º
111695,2025,279,2025-10-27,501,501,Ïú†Î™ÖÏÇ∞ Îã®Ìíç,ÏãùÎ¨º,ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•),ÏÉùÌôú,Íµ¨ÎØ∏
111696,2025,285,2025-10-23,501,501,Ïú†Î™ÖÏÇ∞ Îã®Ìíç,ÏãùÎ¨º,ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•),ÏÉùÌôú,Ìï©Ï≤ú

### 2-4) ÌïÑÏöîÏ†ïÎ≥¥ Í≤∞Ìï© ÌõÑ, Îç∞Ïù¥ÌÑ∞ Í∏∞Î≥∏ Í≤ÄÌÜ†

In [15]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111697 entries, 0 to 111696
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   YY        111697 non-null  int64
 1   STN       111697 non-null  int64
 2   TM        111697 non-null  datetime64[ns]
 3   SSN_ID    111697 non-null  int64
 4   SSN_MD    111697 non-null  int64
 5   ID_Name   111695 non-null  object
 6   ID_Class  111695 non-null  object
 7   MD_Name   111500 non-null  object
 8   MD_Class  111500 non-null  object
 9   STN_ko    107573 non-null  object
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 8.5+ MB

In [16]:
merged_df.isnull().sum()

YY             0
STN            0
TM             0
SSN_ID         0
SSN_MD         0
ID_Name        2
ID_Class       2
MD_Name      197
MD_Class     197
STN_ko      4124
dtype: int64

In [17]:
merged_df.duplicated().sum()

np.int64(0)

### 2-5) Í≤∞Ï∏°Ïπò Îç∞Ïù¥ÌÑ∞ ÏÉÅÏÑ∏ÌôïÏù∏

#### ‚ë† Í≥ÑÏ†àÍ¥ÄÏ∏°(SSN_ID) & Í≥ÑÏ†àÌòÑÏÉÅ(SSN_MD) Í¥ÄÎ†® Îç∞Ïù¥ÌÑ∞

In [18]:
# SSN_ID & SSN_MD Í≤∞Ï∏°Ïπò df ÏÉùÏÑ±
null_rows_df = merged_df[merged_df['ID_Name'].isnull() | merged_df['MD_Name'].isnull()].copy()

In [19]:
# Í≤∞Ï∏°Ïπò Îç∞Ïù¥ÌÑ∞ Ï§ëÎ≥µÏ†úÍ±∞ Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
null_rows_df[['SSN_ID','SSN_MD','ID_Name', 'MD_Name']].drop_duplicates()

        SSN_ID  SSN_MD ID_Name     MD_Name
96661      503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
99297      703     401     NaN  Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)
107046     708     401     NaN  Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)

In [20]:
# Í≤∞Ï∏°Ïπò Îç∞Ïù¥ÌÑ∞ Î∂ÑÌè¨ Ïó∞ÎèÑ ÌôïÏù∏
null_rows_df[['YY','SSN_ID','SSN_MD','ID_Name', 'MD_Name']].drop_duplicates()

          YY  SSN_ID  SSN_MD ID_Name     MD_Name
96661   2012     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
99297   2014     703     401     NaN  Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)
99472   2014     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
101023  2015     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
102366  2016     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
103306  2017     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
104247  2018     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
105187  2019     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
106128  2020     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
107046  2020     708     401     NaN  Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)
107111  2021     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
108083  2022     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
109075  2023     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
110060  2024     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
111031  2025     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN

In [21]:
# Í≤∞Ï∏°Ïπò Îç∞Ïù¥ÌÑ∞ Î∂ÑÌè¨ Ïõî ÌôïÏù∏
null_rows_df['TM_Month'] = null_rows_df['TM'].dt.month
null_rows_df[['TM_Month','SSN_ID','SSN_MD','ID_Name', 'MD_Name']].drop_duplicates()

        TM_Month  SSN_ID  SSN_MD ID_Name     MD_Name
96661          4     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
99297         10     703     401     NaN  Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)
101558         5     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
101796         3     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
101969         2     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
102107         6     503     504    Íµ∞ÎùΩÎã®ÏßÄ         NaN
107046         2     708     401     NaN  Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)

#### ‚ë° Í¥ÄÏ∏°ÏßÄÏ†ê(STN) Í¥ÄÎ†® Îç∞Ïù¥ÌÑ∞

In [22]:
#  'STN_ko' Ïª¨Îüº Í≤∞Ï∏°ÏπòÎ•º Í∞ÄÏßÄÎäî STN Ï§ëÎ≥µÏ†úÍ±∞ ÌõÑ Î™©Î°ù ÌôïÏù∏
null_rows_df = merged_df[merged_df['STN_ko'].isnull()].copy()
null_rows_df[['STN']].drop_duplicates()

       STN
200    214
248    256
270    265
41068  164
63393  270
68142  175
86033  187
98752  176
99206   52

In [23]:
#  'STN_ko' Ïª¨Îüº Í≤∞Ï∏°ÏπòÎ•º Í∞ÄÏßÄÎäî STN Ïú†ÎãàÌÅ¨ Í∞í Î≥Ñ Î†àÏΩîÎìú Ïàò ÌôïÏù∏
null_rows_df[['STN']].value_counts()

STN
256    1465
265     952
214     821
175     462
164     281
176      66
187      44
270      26
52        7
Name: count, dtype: int64

In [24]:
# 'STN_ko' Ïª¨Îüº Í≤∞Ï∏°ÏπòÎ•º Í∞ÄÏßÄÎäî STN Î∂ÑÌè¨ Ïó∞ÎèÑ ÌôïÏù∏
null_rows_df[['YY']].drop_duplicates()

          YY
200     1974
1406    1975
3250    1976
5210    1977
7232    1978
9314    1979
11434   1980
13508   1981
15502   1982
17416   1983
19469   1984
21740   1985
24113   1986
26593   1987
29154   1988
32019   1989
35210   1990
38406   1991
41068   1992
44297   1993
47620   1994
50795   1995
53630   1996
56425   1997
59277   1998
62157   1999
65072   2000
68142   2001
71126   2002
74159   2003
77155   2004
80122   2005
83064   2006
85921   2007
88733   2008
91261   2009
93129   2010
95050   2011
96901   2012
98717   2013
99206   2014
100900  2015
102317  2016

## 3. Í≤∞Ï∏°Îç∞Ïù¥ÌÑ∞ Î∞è 'YY'Ïª¨Îüº ÏÇ≠Ï†ú

### 3-1) Í≤∞Ï∏°Ïπò Îç∞Ïù¥ÌÑ∞ ÏÇ≠Ï†ú

In [25]:
# 1. ÏõêÎ≥∏ merged_dfÏùò ÌÅ¨Í∏∞ Ï†ÄÏû•
original_count = len(merged_df)

# 2. NaN Í∞íÏù¥ ÏûàÎäî Î™®Îì† ÌñâÏùÑ ÏÇ≠Ï†ú (Î™®Îì† Ïª¨ÎüºÏùÑ Í≤ÄÏÇ¨)
# how='any'Í∞Ä Í∏∞Î≥∏Í∞íÏúºÎ°ú, Îã® ÌïòÎÇòÏùò NaNÏù¥ÎùºÎèÑ Ìè¨Ìï®ÌïòÎ©¥ Ìï¥Îãπ ÌñâÏùÑ ÏÇ≠Ï†ú
merged_df_dropped_na = merged_df.dropna(how='any').copy()

# 3. ÏÇ≠Ï†úÎêú Î†àÏΩîÎìú Ïàò Î∞è ÏµúÏ¢Ö ÌÅ¨Í∏∞ ÌôïÏù∏
dropped_count = original_count - len(merged_df_dropped_na)
final_count = len(merged_df_dropped_na)

print("--- üóëÔ∏è Null Í∞í Ìè¨Ìï® Î†àÏΩîÎìú ÏÇ≠Ï†ú Í≤∞Í≥º ---")
print(f"ÏõêÎ≥∏ Î†àÏΩîÎìú Ïàò: {original_count}Í∞ú")
print(f"ÏÇ≠Ï†úÎêú Null Ìè¨Ìï® Î†àÏΩîÎìú Ïàò: {dropped_count}Í∞ú")
print(f"ÏµúÏ¢Ö Î†àÏΩîÎìú Ïàò: {final_count}Í∞ú")

print("\n--- Null Í∞í ÏÇ≠Ï†ú ÌõÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Ï†ïÎ≥¥ ---")
print(merged_df_dropped_na.info())

--- üóëÔ∏è Null Í∞í Ìè¨Ìï® Î†àÏΩîÎìú ÏÇ≠Ï†ú Í≤∞Í≥º ---
ÏõêÎ≥∏ Î†àÏΩîÎìú Ïàò: 111697Í∞ú
ÏÇ≠Ï†úÎêú Null Ìè¨Ìï® Î†àÏΩîÎìú Ïàò: 4323Í∞ú
ÏµúÏ¢Ö Î†àÏΩîÎìú Ïàò: 107374Í∞ú

--- Null Í∞í ÏÇ≠Ï†ú ÌõÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Ï†ïÎ≥¥ ---
<class 'pandas.core.frame.DataFrame'>
Index: 107374 entries, 0 to 111696
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   YY        107374 non-null  int64
 1   STN       107374 non-null  int64
 2   TM        107374 non-null  datetime64[ns]
 3   SSN_ID    107374 non-null  int64
 4   SSN_MD    107374 non-null  int64
 5   ID_Name   107374 non-null  object
 6   ID_Class  107374 non-null  object
 7   MD_Name   107374 non-null  object
 8   MD_Class  107374 non-null  object
 9   STN_ko    107374 non-null  object
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 9.0+ MB
None

### 3-2) 'YY' Ïª¨Îüº ÌïÑÏöîÏó¨Î∂Ä ÌôïÏù∏ Î∞è ÏÇ≠Ï†ú

- Îç∞Ïù¥ÌÑ∞ Í≤ÄÌÜ† Ï§ë TM Ïª¨ÎüºÏùò Ïó∞ÎèÑ Í∞íÍ≥º YY Ïª¨Îüº Í∞íÏù¥ ÏùºÏπòÌïòÏßÄ ÏïäÎäî Îç∞Ïù¥ÌÑ∞ ÏùºÎ∂Ä ÌôïÏù∏ ÌõÑ, Î≥∏ Í≥ºÏ†ï ÏßÑÌñâ

#### ‚ë† 'YY' Ïª¨ÎüºÍ∞íÍ≥º 'TM'Ïùò Ïó∞ÎèÑ Í∞í ÏùºÏπòÏó¨Î∂Ä ÌôïÏù∏

In [26]:
merged_df_dropped_na_year = merged_df_dropped_na['TM'].dt.year
mismatched_year_records_df = merged_df_dropped_na[merged_df_dropped_na['YY'] != merged_df_dropped_na_year].copy()
mismatched_year_records_df

,YY,STN,TM,SSN_ID,SSN_MD,ID_Name,ID_Class,MD_Name,MD_Class,STN_ko
1,1974,90,1975-03-21,401,402,ÏÑúÎ¶¨,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à
2,1974,90,1975-03-31,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à
4,1974,90,1975-03-23,403,402,Îàà,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à
5,1974,100,1975-05-17,401,402,ÏÑúÎ¶¨,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÎåÄÍ¥ÄÎ†π
6,1974,100,1975-05-17,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÎåÄÍ¥ÄÎ†π
...,...,...,...,...,...,...,...,...,...,...
110942,2024,184,2025-03-19,403,402,Îàà,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Ï†úÏ£º
110944,2024,184,2025-04-24,404,402,Í¥ÄÏÑ§,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Ï†úÏ£º
110973,2024,189,2025-01-09,402,401,ÏñºÏùå,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,ÏÑúÍ∑ÄÌè¨
110974,2024,189,2025-02-07,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÑúÍ∑ÄÌè¨
110976,2024,189,2025-03-18,403,402,Îàà,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÑúÍ∑ÄÌè¨

#### ‚ë° 'YY' Ïª¨ÎüºÍ∞íÍ≥º 'TM'Ïùò Ïó∞ÎèÑ Í∞í Ï∞®Ïù¥Ï†ïÎèÑ ÌôïÏù∏

In [27]:
mismatched_year_records_df['TM_Year'] = mismatched_year_records_df['TM'].dt.year
mismatched_year_records_df['TM_Month'] = mismatched_year_records_df['TM'].dt.month

mismatched_year_records_df

,YY,STN,TM,SSN_ID,SSN_MD,ID_Name,ID_Class,MD_Name,MD_Class,STN_ko,TM_Year,TM_Month
1,1974,90,1975-03-21,401,402,ÏÑúÎ¶¨,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à,1975,3
2,1974,90,1975-03-31,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à,1975,3
4,1974,90,1975-03-23,403,402,Îàà,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à,1975,3
5,1974,100,1975-05-17,401,402,ÏÑúÎ¶¨,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÎåÄÍ¥ÄÎ†π,1975,5
6,1974,100,1975-05-17,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÎåÄÍ¥ÄÎ†π,1975,5
...,...,...,...,...,...,...,...,...,...,...,...,...
110942,2024,184,2025-03-19,403,402,Îàà,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Ï†úÏ£º,2025,3
110944,2024,184,2025-04-24,404,402,Í¥ÄÏÑ§,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Ï†úÏ£º,2025,4
110973,2024,189,2025-01-09,402,401,ÏñºÏùå,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,ÏÑúÍ∑ÄÌè¨,2025,1
110974,2024,189,2025-02-07,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÑúÍ∑ÄÌè¨,2025,2
110976,2024,189,2025-03-18,403,402,Îàà,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÑúÍ∑ÄÌè¨,2025,3

In [ ]:
# TM-YEAR - YEAR Í∞Ä 1Ïù¥ ÏïÑÎãå Î†àÏΩîÎìú Ï∂îÏ∂ú
# Í∑πÌïúÏùò ÏòàÏô∏Ïπò ÌôïÏù∏

year_difference_non_abs = mismatched_year_records_df['TM_Year'] - mismatched_year_records_df['YY']
non_one_difference_df = mismatched_year_records_df[year_difference_non_abs != 1].copy()
non_one_difference_df

,YY,STN,TM,SSN_ID,SSN_MD,ID_Name,ID_Class,MD_Name,MD_Class,STN_ko,TM_Year,TM_Month
15647,1982,235,1993-01-09,405,401,Í∞ïÌïòÏ†Ñ,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î≥¥Î†π,1993,1
23100,1986,119,1992-02-23,405,401,Í∞ïÌïòÏ†Ñ,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,ÏàòÏõê,1992,2
23101,1986,119,1992-02-25,405,402,Í∞ïÌïòÏ†Ñ,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏàòÏõê,1992,2
31971,1989,211,1988-12-28,405,401,Í∞ïÌïòÏ†Ñ,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Ïù∏Ï†ú,1988,12

#### ‚ë¢ YY Ïª¨ÎüºÏ†úÍ±∞
- ÏúÑ Î∂ÑÏÑùÍ≤∞Í≥ºÎ•º Î¥§ÏùÑ Îïå, YYÏôÄ TMÏùò Ïó∞ÎèÑÍ∞Ä Îã§Î•¥Îã§Îäî Î∂ÄÎ∂ÑÏùÑ Ï†úÏô∏ÌïòÍ≥§ ÌÅ¨Í≤å Ïù¥ÏÉÅÌïú Î∂ÄÎ∂ÑÏù¥ ÏóÜÎäîÍ±∞ Í∞ôÏïÑ, YY Ïª¨ÎüºÎßå Ï†úÍ±∞

In [29]:
merged_df_dropped_yy = merged_df_dropped_na.drop(columns=['YY'])
merged_df_dropped_yy

,STN,TM,SSN_ID,SSN_MD,ID_Name,ID_Class,MD_Name,MD_Class,STN_ko
0,90,1974-11-03,401,401,ÏÑúÎ¶¨,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à
1,90,1975-03-21,401,402,ÏÑúÎ¶¨,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à
2,90,1975-03-31,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à
3,90,1974-12-03,403,401,Îàà,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à
4,90,1975-03-23,403,402,Îàà,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,ÏÜçÏ¥à
...,...,...,...,...,...,...,...,...,...
111691,226,2025-10-28,501,501,Ïú†Î™ÖÏÇ∞ Îã®Ìíç,ÏãùÎ¨º,ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•),ÏÉùÌôú,Î≥¥ÏùÄ
111692,247,2025-04-25,503,501,Íµ∞ÎùΩÎã®ÏßÄ,ÏãùÎ¨º,ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•),ÏÉùÌôú,ÎÇ®Ïõê
111694,272,2025-10-20,501,501,Ïú†Î™ÖÏÇ∞ Îã®Ìíç,ÏãùÎ¨º,ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•),ÏÉùÌôú,ÏòÅÏ£º
111695,279,2025-10-27,501,501,Ïú†Î™ÖÏÇ∞ Îã®Ìíç,ÏãùÎ¨º,ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•),ÏÉùÌôú,Íµ¨ÎØ∏
111696,285,2025-10-23,501,501,Ïú†Î™ÖÏÇ∞ Îã®Ìíç,ÏãùÎ¨º,ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•),ÏÉùÌôú,Ìï©Ï≤ú

## 4. Î∂ÑÏÑùÎç∞Ïù¥ÌÑ∞ Ïú†Ìö®Î≤îÏúÑ ÏÇ∞Ï†ï

### 4-1) ÏßÄÏÉÅÍ¥ÄÏ∏°ÏßÄÏ†ê

#### ‚ë† Í¥ÄÏ∏°ÏßÄÏ†êÎ≥Ñ Î†àÏΩîÎìúÏàò ÌôïÏù∏

In [30]:
def get_top_n_stn_stats(df, n=10):

    # 1. STNÍ≥º STN_ko Ïª¨ÎüºÏùÑ Ï°∞Ìï©ÌïòÏó¨ ÏÉàÎ°úÏö¥ ÏûÑÏãú ÏãúÎ¶¨Ï¶àÏùò Index ÏÉùÏÑ±
    if 'STN' not in df.columns or 'STN_ko' not in df.columns:
        print("Ïò§Î•ò: DataFrameÏóê 'STN' ÎòêÎäî 'STN_ko' Ïª¨ÎüºÏù¥ Ï°¥Ïû¨ÌïòÏßÄ ÏïäÏäµÎãàÎã§.")
        return pd.DataFrame()

    stn_series_index = df.set_index(['STN', 'STN_ko']).index

    # 2. value_countsÎ•º ÏÇ¨Ïö©ÌïòÏó¨ CountÏôÄ Percentage Í≥ÑÏÇ∞
    # Count Í≥ÑÏÇ∞
    stn_counts = stn_series_index.value_counts(normalize=False).rename('Count')

    # ÎπÑÏú® Í≥ÑÏÇ∞
    stn_percentages = stn_series_index.value_counts(normalize=True).rename('Percentage') * 100

    # 3. Í≤∞Í≥º Ìï©ÏπòÍ∏∞, Ï†ïÎ†¨ Î∞è ÏÉÅÏúÑ NÍ∞ú Ï∂îÏ∂ú
    # CountÏôÄ Percentage Í≤∞Í≥ºÎ•º DataFrameÏúºÎ°ú Ìï©ÏπòÍ≥† Ïù∏Îç±Ïä§ Î¶¨ÏÖã
    stn_results = pd.concat([stn_counts, stn_percentages], axis=1).reset_index()

    # Í∞úÏàòÍ∞Ä ÎßéÏùÄ ÏàúÏÑúÎåÄÎ°ú ÏÉÅÏúÑ NÍ∞ú Ï∂îÏ∂ú
    top_n_stn = stn_results.sort_values(by='Count', ascending=False).head(n)
    
    # 4. Ï∂úÎ†• Ìè¨Îß∑ÌåÖ Î∞è Í≤∞Í≥º Î∞òÌôò
    top_n_stn['Percentage'] = top_n_stn['Percentage'].apply(lambda x: f"{x:.2f}%")
    return top_n_stn

In [31]:
# Ï†ÑÏ≤¥Îç∞Ïù¥ÌÑ∞ÏóêÏÑú ÏÉÅÏúÑ 10Í∞ú ÏßÄÏ†ê ÌôïÏù∏
get_top_n_stn_stats(merged_df_dropped_yy, 10)

   STN STN_ko  Count Percentage
0  146     Ï†ÑÏ£º   2035      1.90%
1  138     Ìè¨Ìï≠   2021      1.88%
2  156     Í¥ëÏ£º   2013      1.87%
3  108     ÏÑúÏö∏   2002      1.86%
4  143     ÎåÄÍµ¨   1999      1.86%
5  136     ÏïàÎèô   1983      1.85%
6  131     Ï≤≠Ï£º   1940      1.81%
7  152     Ïö∏ÏÇ∞   1926      1.79%
8  168     Ïó¨Ïàò   1918      1.79%
9  133     ÎåÄÏ†Ñ   1915      1.78%

In [32]:
# Í¥ÄÏ∏° Í∏∞Í∞ÑÏùÑ Ï§ÑÏó¨ ÏÉÅÏúÑ 15Í∞ú ÏßÄÏ†ê ÌôïÏù∏
start_date = '2009-01-01'
temp_df = merged_df_dropped_yy[merged_df_dropped_yy['TM'] > start_date].copy()

get_top_n_stn_stats(temp_df, 15)

    STN STN_ko  Count Percentage
0   136     ÏïàÎèô    717      3.35%
1   104    Î∂ÅÍ∞ïÎ¶â    703      3.29%
2   146     Ï†ÑÏ£º    697      3.26%
3   143     ÎåÄÍµ¨    697      3.26%
4   138     Ìè¨Ìï≠    689      3.22%
5   108     ÏÑúÏö∏    680      3.18%
6   155     Ï∞ΩÏõê    680      3.18%
7   156     Í¥ëÏ£º    674      3.15%
8   133     ÎåÄÏ†Ñ    669      3.13%
9   119     ÏàòÏõê    655      3.06%
10  152     Ïö∏ÏÇ∞    644      3.01%
11  159     Î∂ÄÏÇ∞    642      3.00%
12  165     Î™©Ìè¨    635      2.97%
13  168     Ïó¨Ïàò    621      2.90%
14  131     Ï≤≠Ï£º    616      2.88%

#### ‚ë° 5Í∞ú ÎåÄÌëú Í¥ÄÏ∏°ÏßÄÏ†ê ÏÑ†Ï†ï
ÏúÑ Í≤∞Í≥ºÎ•º Î∞îÌÉïÏúºÎ°ú, Í∂åÏó≠Î≥Ñ ÎåÄÌëú ÏßÄÏÉÅÍ¥ÄÏ∏° ÏßÄÏ†ê 5Í∞úÏÜå ÏÑ†Ï†ï
- ÏÑúÏö∏
- ÎåÄÏ†Ñ
- Î∂ÅÍ∞ïÎ¶â
- Í¥ëÏ£º
- Ïö∏ÏÇ∞

#### ‚ë¢ ÎåÄÌëúÍ¥ÄÏ∏°ÏßÄÏ†ê Í¥ÄÏ∏° Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú

In [33]:
# Ï∂îÏ∂úÌï† STN_ko Î™©Î°ù Ï†ïÏùò
stn_to_extract = ['ÏÑúÏö∏', 'ÎåÄÏ†Ñ', 'Î∂ÅÍ∞ïÎ¶â', 'Í¥ëÏ£º', 'Ïö∏ÏÇ∞']

# 1. Ï∂îÏ∂úÌï† Ï°∞Í±¥(mask) ÏÉùÏÑ±: STN_koÍ∞Ä Î™©Î°ùÏóê Ìè¨Ìï®ÎêòÎäî Î†àÏΩîÎìú (True)
extraction_mask = merged_df_dropped_yy['STN_ko'].isin(stn_to_extract)

# 2. ÎßàÏä§ÌÅ¨Í∞Ä TrueÏù∏ Î†àÏΩîÎìúÎßå ÏÑ†ÌÉùÌïòÏó¨ ÏÉàÎ°úÏö¥ DataFrame ÏÉùÏÑ±
df_extracted_stn = merged_df_dropped_yy[extraction_mask].copy()

# 3. Ï∂îÏ∂úÎêú Î†àÏΩîÎìú Ïàò ÌôïÏù∏
original_count = len(merged_df_dropped_yy)
extracted_count = len(df_extracted_stn)

print("--- üì• ÌäπÏ†ï STN_ko Î†àÏΩîÎìú Ï∂îÏ∂ú Í≤∞Í≥º ---")
print(f"Ï∂îÏ∂ú ÎåÄÏÉÅ ÏßÄÏó≠: {stn_to_extract}")
print(f"ÏõêÎ≥∏ Î†àÏΩîÎìú Ïàò: {original_count}Í∞ú")
print(f"Ï∂îÏ∂úÎêú Î†àÏΩîÎìú Ïàò: {extracted_count}Í∞ú")
print(f"Ï∂îÏ∂ú ÎπÑÏú®: {(extracted_count / original_count) * 100:.2f}%")

--- üì• ÌäπÏ†ï STN_ko Î†àÏΩîÎìú Ï∂îÏ∂ú Í≤∞Í≥º ---
Ï∂îÏ∂ú ÎåÄÏÉÅ ÏßÄÏó≠: ['ÏÑúÏö∏', 'ÎåÄÏ†Ñ', 'Î∂ÅÍ∞ïÎ¶â', 'Í¥ëÏ£º', 'Ïö∏ÏÇ∞']
ÏõêÎ≥∏ Î†àÏΩîÎìú Ïàò: 107374Í∞ú
Ï∂îÏ∂úÎêú Î†àÏΩîÎìú Ïàò: 8571Í∞ú
Ï∂îÏ∂ú ÎπÑÏú®: 7.98%

#### ‚ë£ Ï∂îÏ∂úÍ≤∞Í≥º Îç∞Ïù¥ÌÑ∞ Í≤ÄÌÜ†

In [34]:
df_extracted_stn.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8571 entries, 22 to 111487
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   STN       8571 non-null   int64
 1   TM        8571 non-null   datetime64[ns]
 2   SSN_ID    8571 non-null   int64
 3   SSN_MD    8571 non-null   int64
 4   ID_Name   8571 non-null   object
 5   ID_Class  8571 non-null   object
 6   MD_Name   8571 non-null   object
 7   MD_Class  8571 non-null   object
 8   STN_ko    8571 non-null   object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 669.6+ KB

In [35]:
df_extracted_stn.groupby('STN_ko').size()

STN_ko
Í¥ëÏ£º     2013
ÎåÄÏ†Ñ     1915
Î∂ÅÍ∞ïÎ¶â     715
ÏÑúÏö∏     2002
Ïö∏ÏÇ∞     1926
dtype: int64

##### Î∂ÅÍ∞ïÎ¶â ÏßÄÏó≠Ïóê Îç∞Ïù¥ÌÑ∞ Î∂àÍ∑†ÌòïÏù¥ Ïã¨Ìï® ÌôïÏù∏ -> Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ïùò Í¥ÄÏ∏°Í∏∞Í∞Ñ Ï°∞Ï†ï ÌïÑÏöîÏÑ± ÌôïÏù∏

### 4-2) Í¥ÄÏ∏°Ïùº

#### ‚ë† Ïú†Ìö®Í∏∞Í∞Ñ ÏÇ∞Ï†ï ÏúÑÌï¥ Í¥ÄÏ∏° ÏãúÏûëÏó∞ÎèÑ Í≤ÄÌÜ†
Ï∞∏Í≥†) '11Ïõî 1Ïùº'ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ïû°ÏùÄ Ïù¥Ïú† <br>
    - Î≥∏ Í≥ºÏ†ïÏùÄ Í≥ÑÏ†àÎ≥Ñ ÏùºÏàò ÏÇ∞Ï∂úÏù¥ Î™©Ï†ÅÏù∏ Ï†ïÏ≤¥ Í≥ºÏ†ï<br>
    - Í≤®Ïö∏Ïùò ÏãúÏûë ÏãúÏ†êÏùÑ Ï†ÑÎÖÑÎèÑ 11Ïõî Î∂ÄÌÑ∞ Í≤ÄÌÜ†ÌïòÎäî Î∞©ÏãùÏúºÎ°ú Íµ¨ÏÑ± ÏòàÏ†ïÏù¥Îùº Îç∞Ïù¥ÌÑ∞ Í¥ÄÏ∏° ÏãúÏ†êÏùÑ '11Ïõî 1Ïùº'Î°ú ÏßÄÏ†ï

In [36]:
start_date = '2008-11-01'
temp_df = df_extracted_stn[df_extracted_stn['TM'] > start_date].copy()

In [37]:
temp_df.groupby('STN_ko').size()

STN_ko
Í¥ëÏ£º     681
ÎåÄÏ†Ñ     675
Î∂ÅÍ∞ïÎ¶â    709
ÏÑúÏö∏     686
Ïö∏ÏÇ∞     648
dtype: int64

##### 'Î∂ÅÍ∞ïÎ¶â'ÏßÄÏ†êÏùò Ï†ÑÏ≤¥Í∏∞Í∞Ñ Îç∞Ïù¥ÌÑ∞ ÏàòÏôÄ '2008-11-01'Ïù¥ÌõÑ Îç∞Ïù¥ÌÑ∞ Ïàò Ï∞®Ïù¥Í∞Ä ÌÅ¨ÏßÄ ÏïäÏùå ÌôïÏù∏ -> 'Î∂ÅÍ∞ïÎ¶â' ÏßÄÏ†ê **Í¥ÄÏ∏° ÏãúÏûëÏùº ÌôïÏù∏** ÌïÑÏöî

#### ‚ë° 'Î∂ÅÍ∞ïÎ¶â' ÏßÄÏ†ê Í¥ÄÏ∏°ÏãúÏûëÏùº ÌôïÏù∏

In [38]:
# Î∂ÅÍ∞ïÎ¶â Í¥ÄÏ∏°ÏÜå Îç∞Ïù¥ÌÑ∞ ÏãúÏûëÏãúÏ†ê ÌôïÏù∏
df_extracted_stn[df_extracted_stn['STN_ko'] == 'Î∂ÅÍ∞ïÎ¶â'].sort_values(by='TM').sort_values(by='TM')

,STN,TM,SSN_ID,SSN_MD,ID_Name,ID_Class,MD_Name,MD_Class,STN_ko
87678,104,2008-08-25,201,202,ÏΩîÏä§Î™®Ïä§,ÏãùÎ¨º(ÍΩÉ),ÍΩÉ Ìïå(Í∞úÌôî),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â
87676,104,2008-09-21,108,102,Îß§ÎØ∏,ÎèôÎ¨º,Ï§ëÍ≤¨,ÎèôÎ¨º,Î∂ÅÍ∞ïÎ¶â
87677,104,2008-09-21,108,104,Îß§ÎØ∏,ÎèôÎ¨º,Ï¢ÖÏÑ±,ÎèôÎ¨º,Î∂ÅÍ∞ïÎ¶â
87681,104,2008-10-20,302,301,Îã®ÌíçÎÇòÎ¨¥,ÏãùÎ¨º(Îã®Ìíç),Îã®Ìíç ÏãúÏûë,ÏãùÎ¨º(Îã®Ìíç),Î∂ÅÍ∞ïÎ¶â
87675,104,2008-10-23,101,102,Ï†úÎπÑ,ÎèôÎ¨º,Ï§ëÍ≤¨,ÎèôÎ¨º,Î∂ÅÍ∞ïÎ¶â
...,...,...,...,...,...,...,...,...,...
111067,104,2025-10-16,201,203,ÏΩîÏä§Î™®Ïä§,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â
111090,104,2025-10-27,302,301,Îã®ÌíçÎÇòÎ¨¥,ÏãùÎ¨º(Îã®Ìíç),Îã®Ìíç ÏãúÏûë,ÏãùÎ¨º(Îã®Ìíç),Î∂ÅÍ∞ïÎ¶â
111089,104,2025-10-28,301,301,ÏùÄÌñâÎÇòÎ¨¥,ÏãùÎ¨º(Îã®Ìíç),Îã®Ìíç ÏãúÏûë,ÏãùÎ¨º(Îã®Ìíç),Î∂ÅÍ∞ïÎ¶â
111091,104,2025-10-28,401,401,ÏÑúÎ¶¨,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â
111092,104,2025-10-28,402,401,ÏñºÏùå,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â

#### ‚ë¢ Í¥ÄÏ∏°Ïùº ÏãúÏ†ê '2009-11-01~' Î°ú Í∑úÏ†ï ÌõÑ, Ï∂îÏ∂ú

- 'Î∂ÅÍ∞ïÎ¶â' ÏßÄÏ†ê Í¥ÄÏ∏° ÏãúÏûëÏùº 2008-08-25 ÏûÑ ÌôïÏù∏
- Ïù¥Ïóê, 2010ÎÖÑÎèÑ~2024ÎÖÑ Îç∞Ïù¥ÌÑ∞Î•º ÏãúÍ∞ÅÌôî ÎåÄÏÉÅ Îç∞Ïù¥ÌÑ∞Î°ú Í∑úÏ†ï (5ÎÖÑ Îã®ÏúÑÎ°ú Î≥ÄÌôî Ï∂îÏù¥ ÏãúÍ∞ÅÌôî ÏòàÏ†ï)

In [39]:
start_date = '2009-11-01'
fin_df = df_extracted_stn[df_extracted_stn['TM'] >= start_date].copy()

#### ‚ë£ Ï∂îÏ∂úÍ≤∞Í≥º Îç∞Ïù¥ÌÑ∞ Í≤ÄÌÜ†

In [40]:
fin_df

,STN,TM,SSN_ID,SSN_MD,ID_Name,ID_Class,MD_Name,MD_Class,STN_ko
90230,104,2009-11-02,401,401,ÏÑúÎ¶¨,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â
90231,104,2010-04-08,401,402,ÏÑúÎ¶¨,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â
90232,104,2009-11-02,402,401,ÏñºÏùå,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â
90233,104,2010-04-16,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â
90234,104,2009-11-02,403,401,Îàà,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â
...,...,...,...,...,...,...,...,...,...
111483,156,2025-04-02,207,203,Î≥µÏà≠ÏïÑ,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Í¥ëÏ£º
111484,156,2025-03-24,208,201,Î∞∞ÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),Î∞úÏïÑ,ÏãùÎ¨º(ÍΩÉ),Í¥ëÏ£º
111485,156,2025-04-07,208,202,Î∞∞ÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),ÍΩÉ Ìïå(Í∞úÌôî),ÏãùÎ¨º(ÍΩÉ),Í¥ëÏ£º
111486,156,2025-04-10,208,203,Î∞∞ÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Í¥ëÏ£º
111487,156,2025-10-28,501,501,Ïú†Î™ÖÏÇ∞ Îã®Ìíç,ÏãùÎ¨º,ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•),ÏÉùÌôú,Í¥ëÏ£º

In [41]:
fin_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3215 entries, 90230 to 111487
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   STN       3215 non-null   int64
 1   TM        3215 non-null   datetime64[ns]
 2   SSN_ID    3215 non-null   int64
 3   SSN_MD    3215 non-null   int64
 4   ID_Name   3215 non-null   object
 5   ID_Class  3215 non-null   object
 6   MD_Name   3215 non-null   object
 7   MD_Class  3215 non-null   object
 8   STN_ko    3215 non-null   object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 251.2+ KB

##  5. Îç∞Ïù¥ÌÑ∞ Ï†ïÏ†ú

### 5-1) ÎèÑÎ©îÏù∏ Í∏∞Î∞ò 'Í≥ÑÏ†à'ÎùºÎ≤® ÏÉùÏÑ±

#### ‚ë† TM Ïª¨ÎüºÏóêÏÑú Ïó∞, Ïõî Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂úÌïòÏó¨ Ïª¨Îüº Ï∂îÍ∞Ä
- 'Í≥ÑÏ†à'ÎùºÎ≤® ÏÉùÏÑ± ÏúÑÌï¥ÏÑúÎäî Í∞Å Í¥ÄÏ∏°Îç∞Ïù¥ÌÑ∞Î•º 'Ïõî' Í∏∞Ï§ÄÏúºÎ°ú Í≤ÄÌÜ†Ìï¥Ïïº Ìï®.
- 'Ïó∞ÎèÑ' Îç∞Ïù¥ÌÑ∞ ÎòêÌïú Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Î∞è Í≤ÄÏ¶ù Í≥ºÏ†ïÏóêÏÑú ÏûêÏ£º ÏÇ¨Ïö©Îê† Í∏∞Ï§Ä Îç∞Ïù¥ÌÑ∞
- Ïù¥Ïóê TM Ïª¨ÎüºÏóêÏÑú Ïó∞, Ïõî Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂úÌïòÏó¨ Ï∂îÍ∞Ä Ïª¨Îüº Íµ¨ÏÑ±

In [42]:
fin_df['TM_Year'] = fin_df['TM'].dt.year
fin_df['TM_Month'] = fin_df['TM'].dt.month
fin_df.head()

,STN,TM,SSN_ID,SSN_MD,ID_Name,ID_Class,MD_Name,MD_Class,STN_ko,TM_Year,TM_Month
90230,104,2009-11-02,401,401,ÏÑúÎ¶¨,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2009,11
90231,104,2010-04-08,401,402,ÏÑúÎ¶¨,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2010,4
90232,104,2009-11-02,402,401,ÏñºÏùå,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2009,11
90233,104,2010-04-16,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2010,4
90234,104,2009-11-02,403,401,Îàà,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2009,11

#### ‚ë° SSN_ID & SSN_MD Ïú†ÎãàÌÅ¨ Ï°∞Ìï© ÌôïÏù∏

In [43]:
unique_combination_df = fin_df[['SSN_ID', 'SSN_MD','ID_Name', 'MD_Name']].drop_duplicates()
unique_combination_df

        SSN_ID  SSN_MD ID_Name       MD_Name
90230      401     401      ÏÑúÎ¶¨    Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)
90231      401     402      ÏÑúÎ¶¨  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)
90232      402     401      ÏñºÏùå    Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)
90233      402     402      ÏñºÏùå  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)
90234      403     401       Îàà    Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)
90235      403     402       Îàà  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)
90236      404     401      Í¥ÄÏÑ§    Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)
90237      404     402      Í¥ÄÏÑ§  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)
90238      405     401     Í∞ïÌïòÏ†Ñ    Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)
90239      405     402     Í∞ïÌïòÏ†Ñ  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)
90301      302     302    Îã®ÌíçÎÇòÎ¨¥         Îã®Ìíç Ï†àÏ†ï
90970      301     302    ÏùÄÌñâÎÇòÎ¨¥         Îã®Ìíç Ï†àÏ†ï
91055      501     503  Ïú†Î™ÖÏÇ∞ Îã®Ìíç            Ï†àÏ†ï
92071      101     101      Ï†úÎπÑ            Ï¥àÍ≤¨
92072      101     102      Ï†úÎπÑ            Ï§ëÍ≤¨
92073      102     101       Î±Ä            Ï¥àÍ≤¨
92074      103     101     Í∞úÍµ¨Î¶¨            Ï¥àÍ≤¨
92075      104     101      ÎÇòÎπÑ            Ï¥àÍ≤¨
92076      105     101     Ïû†ÏûêÎ¶¨            Ï¥àÍ≤¨
92077      106     103     Ï¢ÖÎã§Î¶¨            Ï¥àÏÑ±
92078      107     103     ÎªêÍæ∏Í∏∞            Ï¥àÏÑ±
92079      108     103      Îß§ÎØ∏            Ï¥àÏÑ±
92080      108     104      Îß§ÎØ∏            Ï¢ÖÏÑ±
92081      109     101     Í∏∞Îü¨Í∏∞            Ï¥àÍ≤¨
92082      201     202    ÏΩîÏä§Î™®Ïä§       ÍΩÉ Ìïå(Í∞úÌôî)
92083      202     201      Îß§Ìôî            Î∞úÏïÑ
92084      202     202      Îß§Ìôî       ÍΩÉ Ìïå(Í∞úÌôî)
92085      203     201     Í∞úÎÇòÎ¶¨            Î∞úÏïÑ
92086      203     202     Í∞úÎÇòÎ¶¨       ÍΩÉ Ìïå(Í∞úÌôî)
92087      204     201     ÏßÑÎã¨Îûò            Î∞úÏïÑ
92088      204     202     ÏßÑÎã¨Îûò       ÍΩÉ Ìïå(Í∞úÌôî)
92089      205     201     Î≤öÎÇòÎ¨¥            Î∞úÏïÑ
92090      205     202     Î≤öÎÇòÎ¨¥       ÍΩÉ Ìïå(Í∞úÌôî)
92091      206     201   ÏïÑÍπåÏãúÎÇòÎ¨¥            Î∞úÏïÑ
92092      206     202   ÏïÑÍπåÏãúÎÇòÎ¨¥       ÍΩÉ Ìïå(Í∞úÌôî)
92093      207     201     Î≥µÏà≠ÏïÑ            Î∞úÏïÑ
92094      207     202     Î≥µÏà≠ÏïÑ       ÍΩÉ Ìïå(Í∞úÌôî)
92095      208     201     Î∞∞ÎÇòÎ¨¥            Î∞úÏïÑ
92096      208     202     Î∞∞ÎÇòÎ¨¥       ÍΩÉ Ìïå(Í∞úÌôî)
92097      301     301    ÏùÄÌñâÎÇòÎ¨¥         Îã®Ìíç ÏãúÏûë
92099      302     301    Îã®ÌíçÎÇòÎ¨¥         Îã®Ìíç ÏãúÏûë
92181      501     501  Ïú†Î™ÖÏÇ∞ Îã®Ìíç   ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•)
92183      503     501    Íµ∞ÎùΩÎã®ÏßÄ   ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•)
92843      502     501    Ìï¥ÏàòÏöïÏû•   ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•)
92844      502     502    Ìï¥ÏàòÏöïÏû•    ÎÅù(Ìï¥ÏàòÏöïÏû• ÌèêÏû•)
97702      205     203     Î≤öÎÇòÎ¨¥      ÌôúÏßù Ìïå(ÎßåÎ∞ú)
99440      107     104     ÎªêÍæ∏Í∏∞            Ï¢ÖÏÑ±
101073     203     203     Í∞úÎÇòÎ¶¨      ÌôúÏßù Ìïå(ÎßåÎ∞ú)
101076     204     203     ÏßÑÎã¨Îûò      ÌôúÏßù Ìïå(ÎßåÎ∞ú)
101082     206     203   ÏïÑÍπåÏãúÎÇòÎ¨¥      ÌôúÏßù Ìïå(ÎßåÎ∞ú)
101085     207     203     Î≥µÏà≠ÏïÑ      ÌôúÏßù Ìïå(ÎßåÎ∞ú)
101088     208     203     Î∞∞ÎÇòÎ¨¥      ÌôúÏßù Ìïå(ÎßåÎ∞ú)
101127     201     203    ÏΩîÏä§Î™®Ïä§      ÌôúÏßù Ìïå(ÎßåÎ∞ú)
101130     202     203      Îß§Ìôî      ÌôúÏßù Ìïå(ÎßåÎ∞ú)
101803     201     201    ÏΩîÏä§Î™®Ïä§            Î∞úÏïÑ
102405     107     101     ÎªêÍæ∏Í∏∞            Ï¥àÍ≤¨
104290     108     102      Îß§ÎØ∏            Ï§ëÍ≤¨

#### ‚ë¢ Ïú†ÎãàÌÅ¨ Ï°∞Ìï©Ïù¥ Í∞ÄÏû• ÎßéÏù¥ Í¥ÄÏ∏°Îêú TOP3 Ïõî ÌôïÏù∏ (ÏàòÎüâ / ÎπÑÏú®) -> Í∞Å 'Ïõî'Ïóê Îß§ÌïëÎêú 'Í≥ÑÏ†à' Î∞òÌôò

In [44]:
import pandas as pd

# 1. Ï°∞Ìï©Î≥Ñ ÏõîÎ≥Ñ Í∞úÏàò Í≥ÑÏÇ∞
month_counts = (
    fin_df.groupby(['SSN_ID', 'SSN_MD', 'TM_Month'])
    .size()
    .reset_index(name='count')
)

# 2. Í∞Å Ï°∞Ìï©Ïùò Ï†ÑÏ≤¥ ÎåÄÎπÑ ÎπÑÏú® Í≥ÑÏÇ∞
month_counts['ratio'] = (
    month_counts.groupby(['SSN_ID', 'SSN_MD'])['count']
    .transform(lambda x: x / x.sum())
)

# 3. Í∞Å Ï°∞Ìï©Î≥Ñ ÏÉÅÏúÑ 3Í∞ú Ïõî Ï∂îÏ∂ú
top3_months = (
    month_counts
    .sort_values(['SSN_ID', 'SSN_MD', 'count'], ascending=[True, True, False])
    .groupby(['SSN_ID', 'SSN_MD'], group_keys=False)
    .head(3)
)

# 4. Ïõî ‚Üí Í≥ÑÏ†à Îß§Ìïë
def month_to_season(month):
    if month in [12, 1, 2]:
        return 'Í≤®Ïö∏'
    elif month in [3, 4, 5]:
        return 'Î¥Ñ'
    elif month in [6, 7, 8]:
        return 'Ïó¨Î¶Ñ'
    else:
        return 'Í∞ÄÏùÑ'

top3_months['season'] = top3_months['TM_Month'].apply(month_to_season)


# 5. Ïö∞ÎãàÌÅ¨ Ï°∞Ìï© Î∞îÌÉïÏúºÎ°ú top3 Ïõî/Í≥ÑÏ†à Ï†ïÎ≥¥ ÏÉÅÏÑ∏ ÌôïÏù∏
top3_summary = (
    top3_months.groupby(['SSN_ID', 'SSN_MD'])
    .apply(lambda x: pd.Series({
        'top_months': list(x['TM_Month']),
        'month_ratios': list(x['ratio'].round(3)),
        'top_seasons': list(x['season'])
    }))
    .reset_index()
)

top3_summary

/var/folders/tg/fcv2bnfn76jc3mbk6x3mtlcr0000gn/T/ipykernel_15319/3148474901.py:41: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: pd.Series({

    SSN_ID  SSN_MD    top_months           month_ratios   top_seasons
0      101     101     [4, 5, 3]   [0.722, 0.25, 0.028]     [Î¥Ñ, Î¥Ñ, Î¥Ñ]
1      101     102          [10]                  [1.0]          [Í∞ÄÏùÑ]
2      102     101        [4, 5]         [0.714, 0.286]        [Î¥Ñ, Î¥Ñ]
3      103     101        [4, 3]           [0.75, 0.25]        [Î¥Ñ, Î¥Ñ]
4      104     101     [3, 4, 5]    [0.5, 0.388, 0.075]     [Î¥Ñ, Î¥Ñ, Î¥Ñ]
5      105     101     [6, 7, 5]    [0.488, 0.4, 0.088]   [Ïó¨Î¶Ñ, Ïó¨Î¶Ñ, Î¥Ñ]
6      106     103        [4, 5]           [0.75, 0.25]        [Î¥Ñ, Î¥Ñ]
7      107     101           [5]                  [1.0]           [Î¥Ñ]
8      107     103     [5, 3, 4]     [0.91, 0.03, 0.03]     [Î¥Ñ, Î¥Ñ, Î¥Ñ]
9      107     104          [10]                  [1.0]          [Í∞ÄÏùÑ]
10     108     102           [9]                  [1.0]          [Í∞ÄÏùÑ]
11     108     103     [7, 6, 8]  [0.712, 0.275, 0.012]  [Ïó¨Î¶Ñ, Ïó¨Î¶Ñ, Ïó¨Î¶Ñ]
12     108     104    [9, 10, 8]   [0.818, 0.152, 0.03]  [Í∞ÄÏùÑ, Í∞ÄÏùÑ, Ïó¨Î¶Ñ]
13     109     101  [10, 11, 12]        [0.6, 0.2, 0.2]  [Í∞ÄÏùÑ, Í∞ÄÏùÑ, Í≤®Ïö∏]
14     201     201           [4]                  [1.0]           [Î¥Ñ]
15     201     202    [9, 8, 10]   [0.75, 0.197, 0.053]  [Í∞ÄÏùÑ, Ïó¨Î¶Ñ, Í∞ÄÏùÑ]
16     201     203       [9, 10]         [0.761, 0.239]      [Í∞ÄÏùÑ, Í∞ÄÏùÑ]
17     202     201     [2, 3, 1]   [0.519, 0.38, 0.101]   [Í≤®Ïö∏, Î¥Ñ, Í≤®Ïö∏]
18     202     202     [3, 2, 4]  [0.608, 0.291, 0.101]    [Î¥Ñ, Í≤®Ïö∏, Î¥Ñ]
19     202     203     [3, 2, 4]  [0.827, 0.135, 0.038]    [Î¥Ñ, Í≤®Ïö∏, Î¥Ñ]
20     203     201        [3, 2]         [0.888, 0.112]       [Î¥Ñ, Í≤®Ïö∏]
21     203     202        [3, 4]         [0.912, 0.088]        [Î¥Ñ, Î¥Ñ]
22     203     203        [3, 4]           [0.87, 0.13]        [Î¥Ñ, Î¥Ñ]
23     204     201        [3, 2]         [0.912, 0.088]       [Î¥Ñ, Í≤®Ïö∏]
24     204     202        [3, 4]         [0.835, 0.165]        [Î¥Ñ, Î¥Ñ]
25     204     203        [3, 4]         [0.774, 0.226]        [Î¥Ñ, Î¥Ñ]
26     205     201     [3, 4, 2]   [0.85, 0.088, 0.062]    [Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]
27     205     202        [3, 4]         [0.562, 0.438]        [Î¥Ñ, Î¥Ñ]
28     205     203        [4, 3]         [0.554, 0.446]        [Î¥Ñ, Î¥Ñ]
29     206     201     [4, 3, 5]  [0.862, 0.075, 0.062]     [Î¥Ñ, Î¥Ñ, Î¥Ñ]
30     206     202        [5, 4]             [0.7, 0.3]        [Î¥Ñ, Î¥Ñ]
31     206     203        [5, 4]         [0.889, 0.111]        [Î¥Ñ, Î¥Ñ]
32     207     201     [3, 4, 2]  [0.696, 0.253, 0.051]    [Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]
33     207     202        [4, 3]         [0.671, 0.329]        [Î¥Ñ, Î¥Ñ]
34     207     203        [4, 3]         [0.815, 0.185]        [Î¥Ñ, Î¥Ñ]
35     208     201     [3, 4, 2]   [0.775, 0.175, 0.05]    [Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]
36     208     202        [4, 3]         [0.797, 0.203]        [Î¥Ñ, Î¥Ñ]
37     208     203        [4, 3]         [0.889, 0.111]        [Î¥Ñ, Î¥Ñ]
38     301     301      [10, 11]         [0.711, 0.289]      [Í∞ÄÏùÑ, Í∞ÄÏùÑ]
39     301     302      [11, 10]         [0.701, 0.299]      [Í∞ÄÏùÑ, Í∞ÄÏùÑ]
40     302     301      [10, 11]         [0.779, 0.221]      [Í∞ÄÏùÑ, Í∞ÄÏùÑ]
41     302     302      [11, 10]         [0.795, 0.205]      [Í∞ÄÏùÑ, Í∞ÄÏùÑ]
42     401     401  [11, 10, 12]  [0.482, 0.422, 0.096]  [Í∞ÄÏùÑ, Í∞ÄÏùÑ, Í≤®Ïö∏]
43     401     402     [4, 3, 2]  [0.525, 0.425, 0.038]    [Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]
44     402     401  [11, 10, 12]  [0.805, 0.183, 0.012]  [Í∞ÄÏùÑ, Í∞ÄÏùÑ, Í≤®Ïö∏]
45     402     402        [3, 4]         [0.638, 0.362]        [Î¥Ñ, Î¥Ñ]
46     403     401   [11, 12, 1]    [0.525, 0.4, 0.075]  [Í∞ÄÏùÑ, Í≤®Ïö∏, Í≤®Ïö∏]
47     403     402     [3, 4, 2]  [0.538, 0.225, 0.188]    [Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]
48     404     401   [11, 12, 2]  [0.459, 0.432, 0.054]  [Í∞ÄÏùÑ, Í≤®Ïö∏, Í≤®Ïö∏]
49     404     402     [3, 2, 4]   [0.419, 0.23, 0.216]    [Î¥Ñ, Í≤®Ïö∏, Î¥Ñ]
50     405     401    [12, 1, 2]  [0.523, 0.432, 0.023]  [Í≤®Ïö∏, Í≤®Ïö∏, Í≤®Ïö∏]
51     405     402     [2, 1, 3]  [0.469, 0.312, 0.188]   [Í≤®Ïö∏, Í≤®Ïö∏, Î¥Ñ]
52     501     501          [10]                  [1.0]          [Í∞ÄÏùÑ]
53     501     503      [10, 11]           [0.59, 0.41]      [Í∞ÄÏùÑ, Í∞ÄÏùÑ]
54     502     501           [7]                  [1.0]          [Ïó¨Î¶Ñ]
55     502     502           [8]                  [1.0]          [Ïó¨Î¶Ñ]
56     503     501        [4, 3]           [0.69, 0.31]        [Î¥Ñ, Î¥Ñ]

#### ‚ë£ Ïú†ÎãàÌÅ¨ Ï°∞Ìï©Î≥Ñ ÎåÄÌëú Í≥ÑÏ†à Í∞í ÎèÑÏ∂ú
- top3_summary Ïùò season_ratiosÎ•º Í∏∞Î∞òÏúºÎ°ú Ï°∞Ìï©Î≥ÑÎ°ú ÎåÄÌëú Í≥ÑÏ†à ÎùºÎ≤® ÏÉùÏÑ±

In [ ]:
# 1. Í≥ÑÏ†àÎ≥Ñ Ìï©Ïù¥ Í∞ÄÏû• ÎÜíÏùÄ Í≥ÑÏ†à main_seasonÏúºÎ°ú ÏÑ†Ï†ï
def pick_main_season_from_ratios(row):
    season_ratios = {}
    for season, ratio in zip(row['top_seasons'], row['month_ratios']):
        season_ratios[season] = season_ratios.get(season, 0) + ratio

    # Í∞ÄÏû• ÎÜíÏùÄ Ìï©ÏùÑ Í∞ÄÏßÑ Í≥ÑÏ†à ÏÑ†ÌÉù
    main_season = max(season_ratios, key=season_ratios.get)
    return main_season

# 2. Ïª¨Îüº Ï∂îÍ∞Ä
top3_summary['main_season'] = top3_summary.apply(pick_main_season_from_ratios, axis=1)

In [46]:
top3_summary

,SSN_ID,SSN_MD,top_months,month_ratios,top_seasons,main_season
0,101,101,"[4, 5, 3]","[0.722, 0.25, 0.028]","[Î¥Ñ, Î¥Ñ, Î¥Ñ]",Î¥Ñ
1,101,102,[10],[1.0],[Í∞ÄÏùÑ],Í∞ÄÏùÑ
2,102,101,"[4, 5]","[0.714, 0.286]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
3,103,101,"[4, 3]","[0.75, 0.25]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
4,104,101,"[3, 4, 5]","[0.5, 0.388, 0.075]","[Î¥Ñ, Î¥Ñ, Î¥Ñ]",Î¥Ñ
5,105,101,"[6, 7, 5]","[0.488, 0.4, 0.088]","[Ïó¨Î¶Ñ, Ïó¨Î¶Ñ, Î¥Ñ]",Ïó¨Î¶Ñ
6,106,103,"[4, 5]","[0.75, 0.25]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
7,107,101,[5],[1.0],[Î¥Ñ],Î¥Ñ
8,107,103,"[5, 3, 4]","[0.91, 0.03, 0.03]","[Î¥Ñ, Î¥Ñ, Î¥Ñ]",Î¥Ñ
9,107,104,[10],[1.0],[Í∞ÄÏùÑ],Í∞ÄÏùÑ
10,108,102,[9],[1.0],[Í∞ÄÏùÑ],Í∞ÄÏùÑ
11,108,103,"[7, 6, 8]","[0.712, 0.275, 0.012]","[Ïó¨Î¶Ñ, Ïó¨Î¶Ñ, Ïó¨Î¶Ñ]",Ïó¨Î¶Ñ
12,108,104,"[9, 10, 8]","[0.818, 0.152, 0.03]","[Í∞ÄÏùÑ, Í∞ÄÏùÑ, Ïó¨Î¶Ñ]",Í∞ÄÏùÑ
13,109,101,"[10, 11, 12]","[0.6, 0.2, 0.2]","[Í∞ÄÏùÑ, Í∞ÄÏùÑ, Í≤®Ïö∏]",Í∞ÄÏùÑ
14,201,201,[4],[1.0],[Î¥Ñ],Î¥Ñ
15,201,202,"[9, 8, 10]","[0.75, 0.197, 0.053]","[Í∞ÄÏùÑ, Ïó¨Î¶Ñ, Í∞ÄÏùÑ]",Í∞ÄÏùÑ
16,201,203,"[9, 10]","[0.761, 0.239]","[Í∞ÄÏùÑ, Í∞ÄÏùÑ]",Í∞ÄÏùÑ
17,202,201,"[2, 3, 1]","[0.519, 0.38, 0.101]","[Í≤®Ïö∏, Î¥Ñ, Í≤®Ïö∏]",Í≤®Ïö∏
18,202,202,"[3, 2, 4]","[0.608, 0.291, 0.101]","[Î¥Ñ, Í≤®Ïö∏, Î¥Ñ]",Î¥Ñ
19,202,203,"[3, 2, 4]","[0.827, 0.135, 0.038]","[Î¥Ñ, Í≤®Ïö∏, Î¥Ñ]",Î¥Ñ
20,203,201,"[3, 2]","[0.888, 0.112]","[Î¥Ñ, Í≤®Ïö∏]",Î¥Ñ
21,203,202,"[3, 4]","[0.912, 0.088]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
22,203,203,"[3, 4]","[0.87, 0.13]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
23,204,201,"[3, 2]","[0.912, 0.088]","[Î¥Ñ, Í≤®Ïö∏]",Î¥Ñ
24,204,202,"[3, 4]","[0.835, 0.165]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
25,204,203,"[3, 4]","[0.774, 0.226]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
26,205,201,"[3, 4, 2]","[0.85, 0.088, 0.062]","[Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]",Î¥Ñ
27,205,202,"[3, 4]","[0.562, 0.438]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
28,205,203,"[4, 3]","[0.554, 0.446]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
29,206,201,"[4, 3, 5]","[0.862, 0.075, 0.062]","[Î¥Ñ, Î¥Ñ, Î¥Ñ]",Î¥Ñ
30,206,202,"[5, 4]","[0.7, 0.3]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
31,206,203,"[5, 4]","[0.889, 0.111]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
32,207,201,"[3, 4, 2]","[0.696, 0.253, 0.051]","[Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]",Î¥Ñ
33,207,202,"[4, 3]","[0.671, 0.329]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
34,207,203,"[4, 3]","[0.815, 0.185]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
35,208,201,"[3, 4, 2]","[0.775, 0.175, 0.05]","[Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]",Î¥Ñ
36,208,202,"[4, 3]","[0.797, 0.203]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
37,208,203,"[4, 3]","[0.889, 0.111]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
38,301,301,"[10, 11]","[0.711, 0.289]","[Í∞ÄÏùÑ, Í∞ÄÏùÑ]",Í∞ÄÏùÑ
39,301,302,"[11, 10]","[0.701, 0.299]","[Í∞ÄÏùÑ, Í∞ÄÏùÑ]",Í∞ÄÏùÑ
40,302,301,"[10, 11]","[0.779, 0.221]","[Í∞ÄÏùÑ, Í∞ÄÏùÑ]",Í∞ÄÏùÑ
41,302,302,"[11, 10]","[0.795, 0.205]","[Í∞ÄÏùÑ, Í∞ÄÏùÑ]",Í∞ÄÏùÑ
42,401,401,"[11, 10, 12]","[0.482, 0.422, 0.096]","[Í∞ÄÏùÑ, Í∞ÄÏùÑ, Í≤®Ïö∏]",Í∞ÄÏùÑ
43,401,402,"[4, 3, 2]","[0.525, 0.425, 0.038]","[Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]",Î¥Ñ
44,402,401,"[11, 10, 12]","[0.805, 0.183, 0.012]","[Í∞ÄÏùÑ, Í∞ÄÏùÑ, Í≤®Ïö∏]",Í∞ÄÏùÑ
45,402,402,"[3, 4]","[0.638, 0.362]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ
46,403,401,"[11, 12, 1]","[0.525, 0.4, 0.075]","[Í∞ÄÏùÑ, Í≤®Ïö∏, Í≤®Ïö∏]",Í∞ÄÏùÑ
47,403,402,"[3, 4, 2]","[0.538, 0.225, 0.188]","[Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]",Î¥Ñ
48,404,401,"[11, 12, 2]","[0.459, 0.432, 0.054]","[Í∞ÄÏùÑ, Í≤®Ïö∏, Í≤®Ïö∏]",Í≤®Ïö∏
49,404,402,"[3, 2, 4]","[0.419, 0.23, 0.216]","[Î¥Ñ, Í≤®Ïö∏, Î¥Ñ]",Î¥Ñ
50,405,401,"[12, 1, 2]","[0.523, 0.432, 0.023]","[Í≤®Ïö∏, Í≤®Ïö∏, Í≤®Ïö∏]",Í≤®Ïö∏
51,405,402,"[2, 1, 3]","[0.469, 0.312, 0.188]","[Í≤®Ïö∏, Í≤®Ïö∏, Î¥Ñ]",Í≤®Ïö∏
52,501,501,[10],[1.0],[Í∞ÄÏùÑ],Í∞ÄÏùÑ
53,501,503,"[10, 11]","[0.59, 0.41]","[Í∞ÄÏùÑ, Í∞ÄÏùÑ]",Í∞ÄÏùÑ
54,502,501,[7],[1.0],[Ïó¨Î¶Ñ],Ïó¨Î¶Ñ
55,502,502,[8],[1.0],[Ïó¨Î¶Ñ],Ïó¨Î¶Ñ
56,503,501,"[4, 3]","[0.69, 0.31]","[Î¥Ñ, Î¥Ñ]",Î¥Ñ

In [47]:
# top_swasons ÏπºÎüºÏùò Í≥ÑÏ†àÏù¥ 2Í∞ú Ïù¥ÏÉÅ Îß§ÌïëÎêú Î†àÏΩîÎìúÎì§Ïùò Í≤∞Í≥º Í≤ÄÏ¶ù
top3_summary[
    top3_summary['top_seasons'].apply(lambda x: len(set(x)) > 1)
]

,SSN_ID,SSN_MD,top_months,month_ratios,top_seasons,main_season
5,105,101,"[6, 7, 5]","[0.488, 0.4, 0.088]","[Ïó¨Î¶Ñ, Ïó¨Î¶Ñ, Î¥Ñ]",Ïó¨Î¶Ñ
12,108,104,"[9, 10, 8]","[0.818, 0.152, 0.03]","[Í∞ÄÏùÑ, Í∞ÄÏùÑ, Ïó¨Î¶Ñ]",Í∞ÄÏùÑ
13,109,101,"[10, 11, 12]","[0.6, 0.2, 0.2]","[Í∞ÄÏùÑ, Í∞ÄÏùÑ, Í≤®Ïö∏]",Í∞ÄÏùÑ
15,201,202,"[9, 8, 10]","[0.75, 0.197, 0.053]","[Í∞ÄÏùÑ, Ïó¨Î¶Ñ, Í∞ÄÏùÑ]",Í∞ÄÏùÑ
17,202,201,"[2, 3, 1]","[0.519, 0.38, 0.101]","[Í≤®Ïö∏, Î¥Ñ, Í≤®Ïö∏]",Í≤®Ïö∏
18,202,202,"[3, 2, 4]","[0.608, 0.291, 0.101]","[Î¥Ñ, Í≤®Ïö∏, Î¥Ñ]",Î¥Ñ
19,202,203,"[3, 2, 4]","[0.827, 0.135, 0.038]","[Î¥Ñ, Í≤®Ïö∏, Î¥Ñ]",Î¥Ñ
20,203,201,"[3, 2]","[0.888, 0.112]","[Î¥Ñ, Í≤®Ïö∏]",Î¥Ñ
23,204,201,"[3, 2]","[0.912, 0.088]","[Î¥Ñ, Í≤®Ïö∏]",Î¥Ñ
26,205,201,"[3, 4, 2]","[0.85, 0.088, 0.062]","[Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]",Î¥Ñ
32,207,201,"[3, 4, 2]","[0.696, 0.253, 0.051]","[Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]",Î¥Ñ
35,208,201,"[3, 4, 2]","[0.775, 0.175, 0.05]","[Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]",Î¥Ñ
42,401,401,"[11, 10, 12]","[0.482, 0.422, 0.096]","[Í∞ÄÏùÑ, Í∞ÄÏùÑ, Í≤®Ïö∏]",Í∞ÄÏùÑ
43,401,402,"[4, 3, 2]","[0.525, 0.425, 0.038]","[Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]",Î¥Ñ
44,402,401,"[11, 10, 12]","[0.805, 0.183, 0.012]","[Í∞ÄÏùÑ, Í∞ÄÏùÑ, Í≤®Ïö∏]",Í∞ÄÏùÑ
46,403,401,"[11, 12, 1]","[0.525, 0.4, 0.075]","[Í∞ÄÏùÑ, Í≤®Ïö∏, Í≤®Ïö∏]",Í∞ÄÏùÑ
47,403,402,"[3, 4, 2]","[0.538, 0.225, 0.188]","[Î¥Ñ, Î¥Ñ, Í≤®Ïö∏]",Î¥Ñ
48,404,401,"[11, 12, 2]","[0.459, 0.432, 0.054]","[Í∞ÄÏùÑ, Í≤®Ïö∏, Í≤®Ïö∏]",Í≤®Ïö∏
49,404,402,"[3, 2, 4]","[0.419, 0.23, 0.216]","[Î¥Ñ, Í≤®Ïö∏, Î¥Ñ]",Î¥Ñ
51,405,402,"[2, 1, 3]","[0.469, 0.312, 0.188]","[Í≤®Ïö∏, Í≤®Ïö∏, Î¥Ñ]",Í≤®Ïö∏

#### ‚ë§ fin_dfÏóê main_season ÎùºÎ≤® Ï∂îÍ∞Ä

In [48]:
# (1) fin_df Î≥µÏÇ¨Î≥∏ ÏÉùÏÑ± (ÏõêÎ≥∏ Î≥¥Ï°¥)
fin_df_season = fin_df.copy()

# (2) ÌïÑÏöîÌïú Ïª¨ÎüºÎßå ÎÇ®Í∏∞Í∏∞
mapping_df = top3_summary[['SSN_ID', 'SSN_MD', 'main_season']]

# (3) Ï°∞Ìï© Í∏∞Ï§ÄÏúºÎ°ú Î≥ëÌï© (left join)
fin_df_season = fin_df_season.merge(mapping_df, on=['SSN_ID', 'SSN_MD'], how='left')

# (4) Í≤∞Í≥º ÌôïÏù∏
fin_df_season

,STN,TM,SSN_ID,SSN_MD,ID_Name,ID_Class,MD_Name,MD_Class,STN_ko,TM_Year,TM_Month,main_season
0,104,2009-11-02,401,401,ÏÑúÎ¶¨,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2009,11,Í∞ÄÏùÑ
1,104,2010-04-08,401,402,ÏÑúÎ¶¨,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2010,4,Î¥Ñ
2,104,2009-11-02,402,401,ÏñºÏùå,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2009,11,Í∞ÄÏùÑ
3,104,2010-04-16,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2010,4,Î¥Ñ
4,104,2009-11-02,403,401,Îàà,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2009,11,Í∞ÄÏùÑ
...,...,...,...,...,...,...,...,...,...,...,...,...
3210,156,2025-04-02,207,203,Î≥µÏà≠ÏïÑ,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Í¥ëÏ£º,2025,4,Î¥Ñ
3211,156,2025-03-24,208,201,Î∞∞ÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),Î∞úÏïÑ,ÏãùÎ¨º(ÍΩÉ),Í¥ëÏ£º,2025,3,Î¥Ñ
3212,156,2025-04-07,208,202,Î∞∞ÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),ÍΩÉ Ìïå(Í∞úÌôî),ÏãùÎ¨º(ÍΩÉ),Í¥ëÏ£º,2025,4,Î¥Ñ
3213,156,2025-04-10,208,203,Î∞∞ÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Í¥ëÏ£º,2025,4,Î¥Ñ
3214,156,2025-10-28,501,501,Ïú†Î™ÖÏÇ∞ Îã®Ìíç,ÏãùÎ¨º,ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•),ÏÉùÌôú,Í¥ëÏ£º,2025,10,Í∞ÄÏùÑ

### 5-2) Ïù¥ÏÉÅÏπò Ï†úÍ±∞
- SSN_ID & SSN_MD Ï°∞Ìï©Ïóê Îß§Ïπ≠Îêú Í≥ÑÏ†àÍ≥º Ï†ÑÌòÄ Îã§Î•∏ Í≥ÑÏ†àÏùò ÏõîÏóê Í¥ÄÏ∏°ÎêòÎäî Í≤ΩÏö∞ Ïù¥ÏÉÅÏπò Îç∞Ïù¥ÌÑ∞Î°ú Ï†ïÏùò
- Í≥ÑÏ†àÍ∞Ñ Í≤ΩÍ≥ÑÍµ¨Í∞ÑÏù¥ ÏûàÍ∏∞Ïóê, ÏïûÏÑú Ï†ïÏùòÌïú Ïõî-Í≥ÑÏ†à Îß§ÌïëÏóêÏÑú Ïïû, Îí§Î°ú +1 Íµ¨Í∞ÑÏùÄ Ï†ïÏÉÅ Î≤îÏúÑ Îç∞Ïù¥ÌÑ∞Î°ú Í∞ÑÏ£º

#### ‚ë† Ïù¥ÏÉÅÏπò ÏùòÏã¨ Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú

In [49]:

# 1. Î∂ÑÏÑùÏùÑ ÏúÑÌïú df ÏÉùÏÑ±
analysis_df = fin_df_season[['TM_Month', 'SSN_ID', 'SSN_MD', 'ID_Name', 'MD_Name', 'main_season']].copy()

print("--- Î∂ÑÏÑùÏö© DataFrame (analysis_df) ÎØ∏Î¶¨Î≥¥Í∏∞ ---")
print(analysis_df.head())

# 2. Í≥ÑÏ†àÎ≥Ñ Ï†ïÏÉÅ Íµ¨Í∞Ñ Ï†ïÏùò
season_months = {
    'Î¥Ñ': [2, 3, 4, 5, 6],
    'Ïó¨Î¶Ñ': [5, 6, 7, 8, 9],
    'Í∞ÄÏùÑ': [8, 9, 10, 11, 12],
    'Í≤®Ïö∏': [11, 12, 1, 2, 3]
}

# 3. 'main_season' Í∞íÏù¥ Ï†ïÏÉÅ Íµ¨Í∞ÑÏóê ÏûàÎäîÏßÄ Î®ºÏ†Ä ÌôïÏù∏ÌïòÎäî Ìï®Ïàò Ï†ïÏùò
def check_season_month_consistency(row):
    season = row['main_season']
    month = row['TM_Month']
    
    # Nan ÎòêÎäî ÎπàÍ∞í Ï≤òÎ¶¨
    if pd.isna(season) or season == '':
        return False  # Î∂àÏùºÏπòÎ°ú ÌåêÎã® X

    # ÌòÑÏû¨ main_season Í∏∞Ï§Ä ÏõîÏù¥ season_months Î≤îÏúÑ ÏïàÏóê ÏûàÏúºÎ©¥ Ï†ïÏÉÅ(True)
    return month not in season_months.get(season, [])


# Î∂àÏùºÏπò ÎßàÏä§ÌÅ¨ ÏÉùÏÑ± Î∞è Î†àÏΩîÎìú Ï∂îÏ∂ú
inconsistent_mask = analysis_df.apply(check_season_month_consistency, axis=1)
inconsistent_records_df = analysis_df[inconsistent_mask].copy()

print("--- üö® SeasonÍ≥º MonthÍ∞Ä ÎÖºÎ¶¨Ï†ÅÏúºÎ°ú Ï∂©ÎèåÌïòÎäî Î†àÏΩîÎìú (ÏùºÎ∂Ä) ---")
print(inconsistent_records_df.head(10))
print(f"\nÏ¥ù {len(inconsistent_records_df)}Í∞úÏùò ÎÖºÎ¶¨Ï†Å Î∂àÏùºÏπò Î†àÏΩîÎìúÍ∞Ä Î∞úÍ≤¨ÎêòÏóàÏäµÎãàÎã§.")

--- Î∂ÑÏÑùÏö© DataFrame (analysis_df) ÎØ∏Î¶¨Î≥¥Í∏∞ ---
   TM_Month  SSN_ID  SSN_MD ID_Name       MD_Name main_season
0        11     401     401      ÏÑúÎ¶¨    Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)          Í∞ÄÏùÑ
1         4     401     402      ÏÑúÎ¶¨  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)           Î¥Ñ
2        11     402     401      ÏñºÏùå    Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)          Í∞ÄÏùÑ
3         4     402     402      ÏñºÏùå  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)           Î¥Ñ
4        11     403     401       Îàà    Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)          Í∞ÄÏùÑ
--- üö® SeasonÍ≥º MonthÍ∞Ä ÎÖºÎ¶¨Ï†ÅÏúºÎ°ú Ï∂©ÎèåÌïòÎäî Î†àÏΩîÎìú (ÏùºÎ∂Ä) ---
      TM_Month  SSN_ID  SSN_MD ID_Name       MD_Name main_season
37           1     403     401       Îàà    Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)          Í∞ÄÏùÑ
268          1     401     402      ÏÑúÎ¶¨  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)           Î¥Ñ
378          1     403     401       Îàà    Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)          Í∞ÄÏùÑ
556          1     403     402       Îàà  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)           Î¥Ñ
558          1     404     402      Í¥ÄÏÑ§  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)           Î¥Ñ
888          1     404     402      Í¥ÄÏÑ§  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)           Î¥Ñ
1333         1     403     401       Îàà    Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)          Í∞ÄÏùÑ
1334         1     403     402       Îàà  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)           Î¥Ñ
1510         4     105     101     Ïû†ÏûêÎ¶¨            Ï¥àÍ≤¨          Ïó¨Î¶Ñ
1545         1     403     401       Îàà    Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)          Í∞ÄÏùÑ

Ï¥ù 18Í∞úÏùò ÎÖºÎ¶¨Ï†Å Î∂àÏùºÏπò Î†àÏΩîÎìúÍ∞Ä Î∞úÍ≤¨ÎêòÏóàÏäµÎãàÎã§.

#### ‚ë° Ïù¥ÏÉÅÏπò Îç∞Ïù¥ÌÑ∞ Ï§ëÎ≥µÏ†úÍ±∞ ÌõÑ ÌôïÏù∏

In [50]:

inconsistent_records_df.drop_duplicates()

      TM_Month  SSN_ID  SSN_MD ID_Name       MD_Name main_season
37           1     403     401       Îàà    Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô)          Í∞ÄÏùÑ
268          1     401     402      ÏÑúÎ¶¨  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)           Î¥Ñ
556          1     403     402       Îàà  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)           Î¥Ñ
558          1     404     402      Í¥ÄÏÑ§  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)           Î¥Ñ
1510         4     105     101     Ïû†ÏûêÎ¶¨            Ï¥àÍ≤¨          Ïó¨Î¶Ñ
2383        12     403     402       Îàà  ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô)           Î¥Ñ

#### ‚ë¢ Ïù¥ÏÉÅÏπò Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞

In [51]:
fin_df_season_cleaned = fin_df_season.drop(index=inconsistent_records_df.index).reset_index(drop=True)
fin_df_season_cleaned

,STN,TM,SSN_ID,SSN_MD,ID_Name,ID_Class,MD_Name,MD_Class,STN_ko,TM_Year,TM_Month,main_season
0,104,2009-11-02,401,401,ÏÑúÎ¶¨,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2009,11,Í∞ÄÏùÑ
1,104,2010-04-08,401,402,ÏÑúÎ¶¨,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2010,4,Î¥Ñ
2,104,2009-11-02,402,401,ÏñºÏùå,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2009,11,Í∞ÄÏùÑ
3,104,2010-04-16,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2010,4,Î¥Ñ
4,104,2009-11-02,403,401,Îàà,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2009,11,Í∞ÄÏùÑ
...,...,...,...,...,...,...,...,...,...,...,...,...
3192,156,2025-04-02,207,203,Î≥µÏà≠ÏïÑ,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Í¥ëÏ£º,2025,4,Î¥Ñ
3193,156,2025-03-24,208,201,Î∞∞ÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),Î∞úÏïÑ,ÏãùÎ¨º(ÍΩÉ),Í¥ëÏ£º,2025,3,Î¥Ñ
3194,156,2025-04-07,208,202,Î∞∞ÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),ÍΩÉ Ìïå(Í∞úÌôî),ÏãùÎ¨º(ÍΩÉ),Í¥ëÏ£º,2025,4,Î¥Ñ
3195,156,2025-04-10,208,203,Î∞∞ÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Í¥ëÏ£º,2025,4,Î¥Ñ
3196,156,2025-10-28,501,501,Ïú†Î™ÖÏÇ∞ Îã®Ìíç,ÏãùÎ¨º,ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•),ÏÉùÌôú,Í¥ëÏ£º,2025,10,Í∞ÄÏùÑ

### 5-3) season_year Í∞í Î∂ÄÏó¨
- Îç∞Ïù¥ÌÑ∞Î∂ÑÏÑùÏùÑ ÏúÑÌïú seasonÏùÑ Í∏∞Ï§ÄÏùÑ Ìïú Ïó∞ÎèÑ Í∞í Ïª¨Îüº ÏÉùÏÑ±
- 'TM_Month' Í∞íÏù¥ 11, 12 and 'main_season' Í∞íÏù¥ 'Í≤®Ïö∏' Ïù∏ Í≤ΩÏö∞, Í¥ÄÏ∏°Ïùº Ïó∞ÎèÑ Í∞íÏóêÏÑú +1 -> Îã§ÏùåÌï¥ Í≤®Ïö∏Îç∞Ïù¥ÌÑ∞ ÏÇ∞Ï∂úÏóê Ìè¨Ìï®ÎêòÎèÑÎ°ù ÏÑ§Ï†ï 
- ÏúÑ Ï°∞Í±¥ Ïô∏ Îç∞Ïù¥ÌÑ∞Îäî Í∏∞Ï°¥ 'TM_Year' Í∞íÍ≥º ÎèôÏùºÌïòÍ≤å Î∂ÄÏó¨

In [52]:
df_ready = fin_df_season_cleaned.copy()

# season_year Ïª¨Îüº ÏÉùÏÑ±
# Ï°∞Í±¥ : 11Ïõî, 12Ïõî & Í≤®Ïö∏
df_ready['season_year'] = df_ready.apply(
    lambda x: x['TM_Year'] + 1 
            if (x['TM_Month'] in [11, 12]) and (x['main_season'] == 'Í≤®Ïö∏')
            else x['TM_Year'],
    axis=1
)

df_ready.head()

,STN,TM,SSN_ID,SSN_MD,ID_Name,ID_Class,MD_Name,MD_Class,STN_ko,TM_Year,TM_Month,main_season,season_year
0,104,2009-11-02,401,401,ÏÑúÎ¶¨,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2009,11,Í∞ÄÏùÑ,2009
1,104,2010-04-08,401,402,ÏÑúÎ¶¨,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2010,4,Î¥Ñ,2010
2,104,2009-11-02,402,401,ÏñºÏùå,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2009,11,Í∞ÄÏùÑ,2009
3,104,2010-04-16,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2010,4,Î¥Ñ,2010
4,104,2009-11-02,403,401,Îàà,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2009,11,Í∞ÄÏùÑ,2009

## 6. ÏãúÍ∞ÅÌôî ÏúÑÌïú Îç∞Ïù¥ÌÑ∞ Ïú†Ìö®ÏÑ± Í≤ÄÏ¶ù
- S3Î°ú ÏóÖÎ°úÎìú Ï†Ñ, stacked bar chartÎ°ú Íµ¨ÌòÑ Í∞ÄÎä•Ìïú ÌòïÌÉúÎ°ú Îç∞Ïù¥ÌÑ∞ Ï°∞ÏûëÏù¥ Í∞ÄÎä•ÌïúÏßÄ Í≤ÄÏ¶ù(Ïã§Ï†úÎ°úÎäî snowflakeÏóêÏÑú ÏàòÌñâ ÏòàÏ†ï)
- Ï∞®Ìä∏Î°ú Íµ¨ÌòÑ ÏòàÏ†ïÏù∏ Îç∞Ïù¥ÌÑ∞ Î≤îÏúÑ ÎÇ¥ Í≤∞Ï∏°Îç∞Ïù¥ÌÑ∞ ÌòπÏùÄ Ïù¥ÏÉÅÎç∞Ïù¥ÌÑ∞ Ï°¥Ïû¨Ïó¨Î∂Ä Í≤ÄÏ¶ù

### 6-1) ÏãúÍ∞ÅÌôî ÏúÑÌïú ÌòïÌÉúÎ°ú Îç∞Ïù¥ÌÑ∞ Î≥ÄÌôò

#### ‚ë† stn, season_year Î°ú ÌïÑÌÑ∞ÎßÅÌïòÏó¨ Í∞Å Í≥ÑÏ†àÏùò ÏãúÏûëÏùº ÌôïÏù∏

In [53]:
def get_first_dates(fin_df_season, stn, season_year):
    """
    ÏûÖÎ†•: STN Î≤àÌò∏, season_year
    Ï∂úÎ†•: Î¥Ñ/Ïó¨Î¶Ñ/Í∞ÄÏùÑ/Í≤®Ïö∏Ïùò first_dateÎ•º Îã¥ÏùÄ dict
    """

    df = fin_df_season.copy()
    df["TM"] = pd.to_datetime(df["TM"])

    seasons = ["Î¥Ñ", "Ïó¨Î¶Ñ", "Í∞ÄÏùÑ", "Í≤®Ïö∏"]
    result = {}

    # Ìï¥Îãπ STN + season_year Îç∞Ïù¥ÌÑ∞ subset
    sub = df[(df["STN"] == stn) & (df["season_year"] == season_year)]

    for s in seasons:
        if s == "Í≤®Ïö∏":
            # Í≤®Ïö∏ÏùÄ Ï†ÑÎÖÑÎèÑ 11~12Ïõî + Ìï¥ÎãπÎÖÑÎèÑ 1~2Ïõî
            cond = (
                ((sub["TM"].dt.year == season_year - 1) & (sub["TM"].dt.month >= 11)) |
                ((sub["TM"].dt.year == season_year) & (sub["TM"].dt.month <= 2))
            ) & (sub["main_season"] == "Í≤®Ïö∏")

        else:
            # Î¥Ñ/Ïó¨Î¶Ñ/Í∞ÄÏùÑÏùÄ TM.year == season_year
            cond = (sub["TM"].dt.year == season_year) & (sub["main_season"] == s)

        filtered = sub[cond]
        result[s] = filtered["TM"].min() if not filtered.empty else None

    return result

In [54]:
get_first_dates(df_ready, stn=104, season_year=2010)

{'Î¥Ñ': Timestamp('2010-03-21 00:00:00'),
 'Ïó¨Î¶Ñ': Timestamp('2010-06-16 00:00:00'),
 'Í∞ÄÏùÑ': Timestamp('2010-09-04 00:00:00'),
 'Í≤®Ïö∏': Timestamp('2009-11-02 00:00:00')}

#### ‚ë° Í∞Å Í≥ÑÏ†àÎ≥Ñ Ïùº Ïàò Î∞è ÎπÑÏú® ÏÇ∞Ï∂ú

In [55]:
def get_season_days(fin_df_season, stn, season_year):
    
    # 1. Í≥ÑÏ†àÎ≥Ñ ÏãúÏûëÏùº Ï∂îÏ∂ú
    fd = get_first_dates(fin_df_season, stn, season_year)
    
    # 2. Í∞Å Í≥ÑÏ†àÏóê ÏãúÏûëÏùº Ìï†Îãπ
    spring = fd["Î¥Ñ"]
    summer = fd["Ïó¨Î¶Ñ"]
    autumn = fd["Í∞ÄÏùÑ"]
    winter = fd["Í≤®Ïö∏"]

    # ÏùºÏûê ÏÇ∞Ï∂ú Ìï®Ïàò
    def d(a, b):
        if pd.isna(a) or pd.isna(b):
            return pd.NA
        return (b - a).days + 1  # ÏãúÏûëÏùºÏûê Ìè¨Ìï®

    # 3. Í≥ÑÏ†àÍ∞Ñ ÏùºÏûê ÏÇ∞Ï§Ñ
    days_spring = d(spring, summer)
    days_summer = d(summer, autumn)
    days_winter = d(winter, spring)  

    # 3-1. Í∞ÄÏùÑÏùÄ 365 - (Î¥Ñ + Ïó¨Î¶Ñ + Í≤®Ïö∏)
    if pd.isna(days_spring) or pd.isna(days_summer) or pd.isna(days_winter):
        days_autumn = pd.NA
    else:
        days_autumn = 365 - (int(days_spring) + int(days_summer) + int(days_winter))

    # 4. ÏÇ∞Ï∂ú Í≤∞Í≥º ÏöîÏïΩÎ≥∏ ÏÉùÏÑ±
    result = pd.DataFrame({
        "main_season": ["Î¥Ñ", "Ïó¨Î¶Ñ", "Í∞ÄÏùÑ", "Í≤®Ïö∏"],
        "first_date": [spring, summer, autumn, winter],
        "days": [days_spring, days_summer, days_autumn, days_winter]
    })

    # ÎπÑÏú® Í≥ÑÏÇ∞
    result["ratio"] = result["days"].astype("Float64") / 365

    return result

In [56]:
get_season_days(df_ready, stn=104, season_year=2010)

  main_season first_date  days     ratio
0           Î¥Ñ 2010-03-21    88  0.241096
1          Ïó¨Î¶Ñ 2010-06-16    81  0.221918
2          Í∞ÄÏùÑ 2010-09-04    56  0.153425
3          Í≤®Ïö∏ 2009-11-02   140  0.383562

#### [Ï∞∏Í≥†] Îç∞Ïù¥ÌÑ∞ ÌòïÌÉú Î≥ÄÌôò Í≥ºÏ†ï ÌôïÏù∏

##### ‚ë† ÏµúÏ¢Ö Ï†ïÏ†úÎç∞Ïù¥ÌÑ∞ÏóêÏÑú STN & season_year Í∞íÏúºÎ°ú ÌïÑÌÑ∞ÎßÅ

In [57]:
sch_stn = 104
sch_season_year = 2023

df_ready[(df_ready['STN'] == sch_stn) & (df_ready['season_year'] == sch_season_year)].sort_values(by='TM')

,STN,TM,SSN_ID,SSN_MD,ID_Name,ID_Class,MD_Name,MD_Class,STN_ko,TM_Year,TM_Month,main_season,season_year
2453,104,2022-12-14,404,401,Í¥ÄÏÑ§,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2022,12,Í≤®Ïö∏,2023
2455,104,2022-12-15,405,401,Í∞ïÌïòÏ†Ñ,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2022,12,Í≤®Ïö∏,2023
2631,104,2023-01-27,202,201,Îß§Ìôî,ÏãùÎ¨º(ÍΩÉ),Î∞úÏïÑ,ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,1,Í≤®Ïö∏,2023
2456,104,2023-02-11,405,402,Í∞ïÌïòÏ†Ñ,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2023,2,Í≤®Ïö∏,2023
2625,104,2023-02-27,104,101,ÎÇòÎπÑ,ÎèôÎ¨º,Ï¥àÍ≤¨,ÎèôÎ¨º,Î∂ÅÍ∞ïÎ¶â,2023,2,Î¥Ñ,2023
2632,104,2023-02-27,202,202,Îß§Ìôî,ÏãùÎ¨º(ÍΩÉ),ÍΩÉ Ìïå(Í∞úÌôî),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,2,Î¥Ñ,2023
2634,104,2023-03-02,203,201,Í∞úÎÇòÎ¶¨,ÏãùÎ¨º(ÍΩÉ),Î∞úÏïÑ,ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2637,104,2023-03-03,204,201,ÏßÑÎã¨Îûò,ÏãùÎ¨º(ÍΩÉ),Î∞úÏïÑ,ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2649,104,2023-03-06,208,201,Î∞∞ÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),Î∞úÏïÑ,ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2633,104,2023-03-07,202,203,Îß§Ìôî,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2646,104,2023-03-09,207,201,Î≥µÏà≠ÏïÑ,ÏãùÎ¨º(ÍΩÉ),Î∞úÏïÑ,ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2640,104,2023-03-09,205,201,Î≤öÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),Î∞úÏïÑ,ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2452,104,2023-03-12,403,402,Îàà,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2638,104,2023-03-17,204,202,ÏßÑÎã¨Îûò,ÏãùÎ¨º(ÍΩÉ),ÍΩÉ Ìïå(Í∞úÌôî),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2635,104,2023-03-17,203,202,Í∞úÎÇòÎ¶¨,ÏãùÎ¨º(ÍΩÉ),ÍΩÉ Ìïå(Í∞úÌôî),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2454,104,2023-03-18,404,402,Í¥ÄÏÑ§,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2636,104,2023-03-21,203,203,Í∞úÎÇòÎ¶¨,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2639,104,2023-03-22,204,203,ÏßÑÎã¨Îûò,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2641,104,2023-03-26,205,202,Î≤öÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),ÍΩÉ Ìïå(Í∞úÌôî),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2448,104,2023-03-27,401,402,ÏÑúÎ¶¨,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2450,104,2023-03-27,402,402,ÏñºÏùå,Í∏∞ÌõÑ,ÎßàÏßÄÎßâ(Í∞ï¬∑ÌïòÏ≤ú Ìï¥Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2666,104,2023-03-29,503,501,Íµ∞ÎùΩÎã®ÏßÄ,ÏãùÎ¨º,ÏãúÏûë(Ìï¥ÏàòÏöïÏû• Í∞úÏû•),ÏÉùÌôú,Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2642,104,2023-03-29,205,203,Î≤öÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2650,104,2023-03-31,208,202,Î∞∞ÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),ÍΩÉ Ìïå(Í∞úÌôî),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2647,104,2023-03-31,207,202,Î≥µÏà≠ÏïÑ,ÏãùÎ¨º(ÍΩÉ),ÍΩÉ Ìïå(Í∞úÌôî),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,3,Î¥Ñ,2023
2651,104,2023-04-03,208,203,Î∞∞ÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,4,Î¥Ñ,2023
2624,104,2023-04-05,103,101,Í∞úÍµ¨Î¶¨,ÎèôÎ¨º,Ï¥àÍ≤¨,ÎèôÎ¨º,Î∂ÅÍ∞ïÎ¶â,2023,4,Î¥Ñ,2023
2648,104,2023-04-05,207,203,Î≥µÏà≠ÏïÑ,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,4,Î¥Ñ,2023
2623,104,2023-04-16,101,101,Ï†úÎπÑ,ÎèôÎ¨º,Ï¥àÍ≤¨,ÎèôÎ¨º,Î∂ÅÍ∞ïÎ¶â,2023,4,Î¥Ñ,2023
2643,104,2023-04-20,206,201,ÏïÑÍπåÏãúÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),Î∞úÏïÑ,ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,4,Î¥Ñ,2023
2644,104,2023-05-01,206,202,ÏïÑÍπåÏãúÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),ÍΩÉ Ìïå(Í∞úÌôî),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,5,Î¥Ñ,2023
2645,104,2023-05-05,206,203,ÏïÑÍπåÏãúÎÇòÎ¨¥,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,5,Î¥Ñ,2023
2627,104,2023-05-18,107,103,ÎªêÍæ∏Í∏∞,ÎèôÎ¨º,Ï¥àÏÑ±,ÎèôÎ¨º,Î∂ÅÍ∞ïÎ¶â,2023,5,Î¥Ñ,2023
2628,104,2023-06-25,108,103,Îß§ÎØ∏,ÎèôÎ¨º,Ï¥àÏÑ±,ÎèôÎ¨º,Î∂ÅÍ∞ïÎ¶â,2023,6,Ïó¨Î¶Ñ,2023
2626,104,2023-06-25,105,101,Ïû†ÏûêÎ¶¨,ÎèôÎ¨º,Ï¥àÍ≤¨,ÎèôÎ¨º,Î∂ÅÍ∞ïÎ¶â,2023,6,Ïó¨Î¶Ñ,2023
2629,104,2023-09-04,201,202,ÏΩîÏä§Î™®Ïä§,ÏãùÎ¨º(ÍΩÉ),ÍΩÉ Ìïå(Í∞úÌôî),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,9,Í∞ÄÏùÑ,2023
2630,104,2023-09-10,201,203,ÏΩîÏä§Î™®Ïä§,ÏãùÎ¨º(ÍΩÉ),ÌôúÏßù Ìïå(ÎßåÎ∞ú),ÏãùÎ¨º(ÍΩÉ),Î∂ÅÍ∞ïÎ¶â,2023,9,Í∞ÄÏùÑ,2023
2654,104,2023-10-16,302,301,Îã®ÌíçÎÇòÎ¨¥,ÏãùÎ¨º(Îã®Ìíç),Îã®Ìíç ÏãúÏûë,ÏãùÎ¨º(Îã®Ìíç),Î∂ÅÍ∞ïÎ¶â,2023,10,Í∞ÄÏùÑ,2023
2652,104,2023-10-26,301,301,ÏùÄÌñâÎÇòÎ¨¥,ÏãùÎ¨º(Îã®Ìíç),Îã®Ìíç ÏãúÏûë,ÏãùÎ¨º(Îã®Ìíç),Î∂ÅÍ∞ïÎ¶â,2023,10,Í∞ÄÏùÑ,2023
2655,104,2023-10-30,302,302,Îã®ÌíçÎÇòÎ¨¥,ÏãùÎ¨º(Îã®Ìíç),Îã®Ìíç Ï†àÏ†ï,ÏãùÎ¨º(Îã®Ìíç),Î∂ÅÍ∞ïÎ¶â,2023,10,Í∞ÄÏùÑ,2023
2653,104,2023-11-03,301,302,ÏùÄÌñâÎÇòÎ¨¥,ÏãùÎ¨º(Îã®Ìíç),Îã®Ìíç Ï†àÏ†ï,ÏãùÎ¨º(Îã®Ìíç),Î∂ÅÍ∞ïÎ¶â,2023,11,Í∞ÄÏùÑ,2023
2658,104,2023-11-12,402,401,ÏñºÏùå,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2023,11,Í∞ÄÏùÑ,2023
2656,104,2023-11-13,401,401,ÏÑúÎ¶¨,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2023,11,Í∞ÄÏùÑ,2023
2660,104,2023-11-17,403,401,Îàà,Í∏∞ÌõÑ,Ï≤´(Í∞ï¬∑ÌïòÏ≤ú Í≤∞Îπô),Í∏∞ÌõÑ,Î∂ÅÍ∞ïÎ¶â,2023,11,Í∞ÄÏùÑ,2023

##### ‚ë° ÌïÑÌÑ∞ÎßÅ Îêú Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Í∞Å Í≥ÑÏ†àÎ≥Ñ ÏãúÏûëÏùº Ï∂îÏ∂ú

In [58]:
get_first_dates(df_ready, stn=sch_stn, season_year=sch_season_year)

{'Î¥Ñ': Timestamp('2023-02-27 00:00:00'),
 'Ïó¨Î¶Ñ': Timestamp('2023-06-25 00:00:00'),
 'Í∞ÄÏùÑ': Timestamp('2023-09-04 00:00:00'),
 'Í≤®Ïö∏': Timestamp('2022-12-14 00:00:00')}

##### ‚ë¢ ÏãúÏûëÏùºÏùÑ Í∏∞Î∞òÏúºÎ°ú Í∞Å Í≥ÑÏ†à Î≥Ñ ÏùºÏàò Î∞è ÎπÑÏú® ÏÇ∞Ï∂ú

In [59]:
get_season_days(df_ready, stn=104, season_year=2022)

  main_season first_date  days     ratio
0           Î¥Ñ 2022-03-03    82  0.224658
1          Ïó¨Î¶Ñ 2022-05-23    99  0.271233
2          Í∞ÄÏùÑ 2022-08-29    69  0.189041
3          Í≤®Ïö∏ 2021-11-09   115  0.315068

### 6-2) Í∞Å Í¥ÄÏ∏°ÏßÄÏ†ê Î∞è Í≥ÑÏ†àÏó∞ÎèÑ Î≥Ñ ÏÇ¨Í≥ÑÏ†à ÎùºÎ≤® Ï°¥Ïû¨Ïó¨Î∂Ä ÌôïÏù∏

#### ‚ë† STN & season_year Í∏∞Ï§ÄÏúºÎ°ú main_seasonÏùò Í≥†Ïú† Í≥ÑÏ†à Í∞ØÏàò ÏÇ∞Ï∂ú

In [60]:
season_check = (
    df_ready.groupby(["STN", "season_year"])["main_season"]
    .nunique()
    .reset_index(name="season_cnt")
)

missing = season_check.query("season_cnt < 4")
missing

    STN  season_year  season_cnt
0   104         2009           1
17  108         2009           1
34  133         2009           1
51  152         2009           1
68  156         2009           1

#### ‚ë° pivotÏúºÎ°ú missing ÏÉÅÏÑ∏ Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ 
- ÏÉÅÏÑ∏Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ Í≤∞Í≥º, 4Í≥ÑÏ†à ÏΩîÎìúÍ∞Ä Î™®Îëê Ï°¥Ïû¨ÌïòÏßÄ ÏïäÏùÄ Ïó∞ÎèÑÎäî 2009ÎÖÑÏúºÎ°ú ÏïûÏÑú Ï†ïÏùòÌïú ÏãúÍ∞ÅÌôî ÎåÄÏÉÅ Ïó∞ÎèÑÏóêÏÑú Ï†úÏô∏Îêú Í∞í
- ÌòÑÏû¨ Îç∞Ïù¥ÌÑ∞Î°ú ÏãúÍ∞ÅÌôî ÏßÑÌñâ Î¨∏Ï†ú ÏóÜÏùå ÌôïÏù∏

In [61]:
season_matrix = (
    df_ready
    .pivot_table(index=["STN", "season_year"], columns="main_season", values="TM", aggfunc="count")
    .fillna(0)
    .astype(int)
)

print("=== ‚úÖ Í≥ÑÏ†à Îç∞Ïù¥ÌÑ∞ completeness Ï≤¥ÌÅ¨ Í≤∞Í≥º ===")
display(season_matrix)

=== ‚úÖ Í≥ÑÏ†à Îç∞Ïù¥ÌÑ∞ completeness Ï≤¥ÌÅ¨ Í≤∞Í≥º ===

main_season      Í∞ÄÏùÑ  Í≤®Ïö∏   Î¥Ñ  Ïó¨Î¶Ñ
STN season_year
104 2009          3   0   0   0
    2010         11   4  23   2
    2011         11   4  24   2
    2012         11   4  23   2
    2013         11   4  23   2
    2014         12   4  22   2
    2015          7   4  29   2
    2016          9   3  30   2
    2017          9   3  28   2
    2018         10   3  27   2
    2019          8   2  25   2
    2020          9   2  28   2
    2021          9   4  28   2
    2022          9   4  28   2
    2023          9   4  29   2
    2024          9   4  29   2
    2025          6   4  29   2
108 2009          4   0   0   0
    2010         11   4  19   2
    2011         11   4  19   2
    2012         11   4  19   2
    2013         11   4  19   2
    2014         11   4  20   2
    2015         11   4  26   2
    2016         12   4  26   2
    2017         11   4  26   2
    2018         11   4  26   2
    2019         10   4  27   2
    2020         11   2  27   2
    2021          9   4  27   2
    2022         11   2  26   2
    2023         10   4  27   2
    2024          9   4  26   2
    2025          5   4  27   2
133 2009          3   0   0   0
    2010         11   4  19   2
    2011         11   2  19   2
    2012         11   2  19   2
    2013         11   2  19   2
    2014         11   2  20   2
    2015         12   2  26   2
    2016         11   4  27   2
    2017         11   4  27   2
    2018         11   4  27   2
    2019         11   2  27   2
    2020         11   2  27   2
    2021         11   2  27   2
    2022         11   2  27   2
    2023         11   2  26   2
    2024         11   2  27   1
    2025          3   2  27   2
152 2009          4   0   0   0
    2010         12   2  20   4
    2011         11   4  20   2
    2012         10   1  19   2
    2013         12   4  18   2
    2014         11   2  20   2
    2015         11   2  18   2
    2016         10   1  25   2
    2017         11   1  24   1
    2018         11   1  25   2
    2019         10   2  26   2
    2020         11   1  25   2
    2021         11   2  27   2
    2022         11   1  24   2
    2023         11   2  26   2
    2024         11   2  27   2
    2025          3   2  24   2
156 2009          6   0   0   0
    2010         11   2  20   2
    2011         10   2  20   2
    2012         11   2  20   2
    2013         11   2  20   2
    2014         11   2  20   2
    2015         12   2  28   2
    2016         11   3  27   2
    2017         12   3  27   2
    2018         12   3  27   2
    2019         12   3  27   2
    2020         11   3  27   2
    2021         11   3  26   2
    2022         11   3  26   2
    2023         11   3  26   2
    2024         11   2  27   2
    2025          3   4  27   2